# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import phonetic

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-219' 
theme = 'Names where name parts are Modified'
category = 'Phonetic'
sub_category = '2 phonetic variations - different name part'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10871,39280,TIBALAJI PETROCHEM PRIVATE LIMITED,-0-,IRAN-EO13846,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Website https://www.tibalaji.com/; Additional ...
10872,39281,SIERRA VISTA TRADING LIMITED,-0-,IRAN-EO13846,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Additional Sanctions Information - Subject to ...
10873,39282,SOPHYCHEM HK LIMITED,-0-,IRAN-EO13846,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Additional Sanctions Information - Subject to ...
10874,39283,CLARA SHIPPING LLC,-0-,IRAN-EO13846,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Website http://www.clarashipping.com; Addition...
10875,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']
ofac_list

         uid                                name entity_type
0         36              AEROCARIBBEAN AIRLINES        -0-
1        173           ANGLO-CARIBBEAN CO., LTD.        -0-
2        306              BANCO NACIONAL DE CUBA        -0-
3        424                  BOUTIQUE LA MAISON        -0-
4        475                        CASA DE CUBA        -0-
...      ...                                 ...         ...
10871  39280  TIBALAJI PETROCHEM PRIVATE LIMITED        -0-
10872  39281        SIERRA VISTA TRADING LIMITED        -0-
10873  39282                SOPHYCHEM HK LIMITED        -0-
10874  39283                  CLARA SHIPPING LLC        -0-
10875                                       NaN         NaN

[10876 rows x 3 columns]

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities
ofac_list_filtered

         uid                                name entity_type
0         36              AEROCARIBBEAN AIRLINES        -0-
1        173           ANGLO-CARIBBEAN CO., LTD.        -0-
2        306              BANCO NACIONAL DE CUBA        -0-
3        424                  BOUTIQUE LA MAISON        -0-
4        475                        CASA DE CUBA        -0-
...      ...                                 ...         ...
10870  39279            ML HOLDING GROUP LIMITED        -0-
10871  39280  TIBALAJI PETROCHEM PRIVATE LIMITED        -0-
10872  39281        SIERRA VISTA TRADING LIMITED        -0-
10873  39282                SOPHYCHEM HK LIMITED        -0-
10874  39283                  CLARA SHIPPING LLC        -0-

[4387 rows x 3 columns]

## randomly choose 10 rows

In [9]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

        uid                                               name entity_type
516    7728                                  MANCO OIL COMPANY        -0-
9280  35072                                         SCI GRIBER        -0-
6001  24518      DANDONG ZHONGSHENG INDUSTRY & TRADE CO., LTD.        -0-
6605  25896                                   OFOQ SAZEH PAYAH        -0-
961    8735  CIA. CONSTRUCTORA Y COMERCIALIZADORA DEL SUR L...        -0-
9289  35081                                     PHOTON PRO LLP        -0-
9393  35338              ODK-SATURN PUBLIC JOINT-STOCK COMPANY        -0-
7409  28010       DISTRIBUIDORA NICARAGUENSE DE PETROLEO, S.A.        -0-
3972  18093                    AHOME REAL ESTATE, S.A. DE C.V.        -0-
8326  30871                    ABADAN POWER GENERATION COMPANY        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [10]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [11]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name']
    number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
    split_original_name = original_name.split(' ') # split name into word
    
    final_test_name = split_original_name.copy()
        
    for i in range(2):
        modify_original_name = np.random.choice(split_original_name) # randomly choose word to be replaced
        modify_index = original_name.split(' ').index(modify_original_name) # record index of chosen word
        split_original_name.remove(modify_original_name) # remove chosen word
        
        modify_original_name = list(modify_original_name) # split word into letter
        replace_name = modify_original_name.copy()
        
        j = np.random.choice(list(range(len(replace_name))))
        while replace_name[j] == modify_original_name[j]: # rerandom if no letter has been replaced
            j = np.random.choice(list(range(len(replace_name))))
            replace_name[j] = phonetic(replace_name[j]) # replace 1 letter with similar phonetic
        
        final_test_name[modify_index] = ''.join(replace_name)
    
    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 516,7728,MANCO OIL COMPANY,MANCO OAL CONPANY
1,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 9280,35072,SCI GRIBER,XCI GRWBER
2,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 6001,24518,"DANDONG ZHONGSHENG INDUSTRY & TRADE CO., LTD.","DANDONG ZHONGSHENG INDWSTRY & TRADE CW., LTD."
3,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 6605,25896,OFOQ SAZEH PAYAH,IFOQ SAZEY PAYAH
4,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 961,8735,CIA. CONSTRUCTORA Y COMERCIALIZADORA DEL SUR L...,CIH. CONSTRUCTORA Y COMERCIALIZADORA DEL SUR L...
5,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 9289,35081,PHOTON PRO LLP,PHOTUN PRE LLP
6,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 9393,35338,ODK-SATURN PUBLIC JOINT-STOCK COMPANY,ODK-SATURN PUBLIC JOINT-STHCK CIMPANY
7,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 7409,28010,"DISTRIBUIDORA NICARAGUENSE DE PETROLEO, S.A.","DISTRIBUIDORA NICARAGUEMSE DE PUTROLEO, S.A."
8,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 3972,18093,"AHOME REAL ESTATE, S.A. DE C.V.","AHOME RAAL ESDATE, S.A. DE C.V."
9,UID-219,Names where name parts are Modified,Phonetic,2 phonetic variations - different name part,Entity,UID-219 - 8326,30871,ABADAN POWER GENERATION COMPANY,ABADAN BOWER GENERATION COMPHNY