# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import phonetic

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-221' 
theme = 'Names where name parts are Modified'
category = 'Phonetic'
sub_category = '2 phonetic variations - same name part'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10871,39280,TIBALAJI PETROCHEM PRIVATE LIMITED,-0-,IRAN-EO13846,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Website https://www.tibalaji.com/; Additional ...
10872,39281,SIERRA VISTA TRADING LIMITED,-0-,IRAN-EO13846,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Additional Sanctions Information - Subject to ...
10873,39282,SOPHYCHEM HK LIMITED,-0-,IRAN-EO13846,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Additional Sanctions Information - Subject to ...
10874,39283,CLARA SHIPPING LLC,-0-,IRAN-EO13846,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Website http://www.clarashipping.com; Addition...
10875,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']
ofac_list

         uid                                name entity_type
0         36              AEROCARIBBEAN AIRLINES        -0-
1        173           ANGLO-CARIBBEAN CO., LTD.        -0-
2        306              BANCO NACIONAL DE CUBA        -0-
3        424                  BOUTIQUE LA MAISON        -0-
4        475                        CASA DE CUBA        -0-
...      ...                                 ...         ...
10871  39280  TIBALAJI PETROCHEM PRIVATE LIMITED        -0-
10872  39281        SIERRA VISTA TRADING LIMITED        -0-
10873  39282                SOPHYCHEM HK LIMITED        -0-
10874  39283                  CLARA SHIPPING LLC        -0-
10875                                       NaN         NaN

[10876 rows x 3 columns]

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities
ofac_list_filtered

         uid                                name entity_type
0         36              AEROCARIBBEAN AIRLINES        -0-
1        173           ANGLO-CARIBBEAN CO., LTD.        -0-
2        306              BANCO NACIONAL DE CUBA        -0-
3        424                  BOUTIQUE LA MAISON        -0-
4        475                        CASA DE CUBA        -0-
...      ...                                 ...         ...
10870  39279            ML HOLDING GROUP LIMITED        -0-
10871  39280  TIBALAJI PETROCHEM PRIVATE LIMITED        -0-
10872  39281        SIERRA VISTA TRADING LIMITED        -0-
10873  39282                SOPHYCHEM HK LIMITED        -0-
10874  39283                  CLARA SHIPPING LLC        -0-

[4387 rows x 3 columns]

## randomly choose 10 rows

In [6]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

        uid                                               name entity_type
9205  34952  ALALAMIYAH EXPRESS COMPANY FOR EXCHANGE AND RE...        -0-
2594  13066                                 GELRO IMPEX S.R.L.        -0-
6030  24567                                   SINSMS PTE. LTD.        -0-
8098  30268                             LAS INGENIERIAS S.A.S.        -0-
4316  19170                       LA GRAN VIA ZONA LIBRE, S.A.        -0-
2369  12552  MULTIMAT IC VE DIS TICARET PAZARLAMA LIMITED S...        -0-
8981  34082                KHARG PETROCHEMICAL COMPANY LIMITED        -0-
5319  22692  ISLAMIC REVOLUTIONARY GUARD CORPS AEROSPACE FO...        -0-
797    8214                                     LOGARCHEO S.A.        -0-
6006  24523           3G LOJISTIK VE HAVACILIK HIZMETLARI LTD.        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [16]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [17]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name']
    number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
    split_original_name = original_name.split(' ') # split name into word
    
    final_test_name = split_original_name.copy()
    
    modify_original_name = np.random.choice(split_original_name) # randomly choose word to be replaced
    while len(modify_original_name) < 2:
        modify_original_name = np.random.choice(split_original_name)
    
    modify_index = split_original_name.index(modify_original_name) # record index of chosen word

    replace_name = list(modify_original_name) # split word into letter

    random_list = list(range(len(replace_name)))
    for i in range(2):
        j = np.random.choice(random_list)
        while replace_name[j] == modify_original_name[j]: # rerandom if no letter has been replaced
            j = np.random.choice(random_list)
            random_list.remove(j)
            replace_name[j] = phonetic(replace_name[j]) # replace with similar phonetic

    final_test_name[modify_index] = ''.join(replace_name)
    
    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 9205,34952,ALALAMIYAH EXPRESS COMPANY FOR EXCHANGE AND RE...,ALALAMIYAH EXPRESS COMPANY FOR EXCHANGE AMT RE...
1,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 2594,13066,GELRO IMPEX S.R.L.,GELRO INPES S.R.L.
2,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 6030,24567,SINSMS PTE. LTD.,SINXMX PTE. LTD.
3,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 8098,30268,LAS INGENIERIAS S.A.S.,LAS INGEMIERIHS S.A.S.
4,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 4316,19170,"LA GRAN VIA ZONA LIBRE, S.A.","LA GRAN FIH ZONA LIBRE, S.A."
5,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 2369,12552,MULTIMAT IC VE DIS TICARET PAZARLAMA LIMITED S...,MULTIMAT IC VE DIS TUGARET PAZARLAMA LIMITED S...
6,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 8981,34082,KHARG PETROCHEMICAL COMPANY LIMITED,KHARG PETROCHEMICAL COMPANY LIMUTHD
7,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 5319,22692,ISLAMIC REVOLUTIONARY GUARD CORPS AEROSPACE FO...,ISLAMIC REVOLUTIONARY GUARD CORPS AEROSPACE FO...
8,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 797,8214,LOGARCHEO S.A.,LOGARCHEO X.Y.
9,UID-221,Names where name parts are Modified,Phonetic,2 phonetic variations - same name part,Entity,UID-221 - 6006,24523,3G LOJISTIK VE HAVACILIK HIZMETLARI LTD.,3G LOJISTIK VE HOVACILIC HIZMETLARI LTD.