# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-276' 
theme = 'Names where name parts are Modified'
category = 'Truncation'
sub_category = '1 Letters Truncation in the front'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[0][:1])) & (len(split_name[0]) > 1) & (len(' '.join(split_name)) > 10):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

         uid                                      name entity_type
3386   16319                               CEC LIMITED        -0-
7441   28050              TRY PHEAP PROPERTY CO., LTD.        -0-
243     7146                ULSTER DEFENCE ASSOCIATION        -0-
143     6680              SERVIAUTOS UNO A 1A LIMITADA        -0-
2442   12743  SYRIAN MILITARY INTELLIGENCE DIRECTORATE        -0-
4287   19100                    LORD'S RESISTANCE ARMY        -0-
4529   20199                      OOO SHIPYARD 'ZALIV'        -0-
2355   12530              AUTODROMO CULIACAN RACE PARK        -0-
10456  37442        SCF MANAGEMENT SERVICES CYPRUS LTD        -0-
8032   30088                TOUMEH INTERNATIONAL GROUP        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    truncate_word = split_original_name[0] # choose word to be truncated
        
    final_test_name[final_test_name.index(truncate_word)] = truncate_word[1:]

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 3386,16319,CEC LIMITED,EC LIMITED
1,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 7441,28050,"TRY PHEAP PROPERTY CO., LTD.","RY PHEAP PROPERTY CO., LTD."
2,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 243,7146,ULSTER DEFENCE ASSOCIATION,LSTER DEFENCE ASSOCIATION
3,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 143,6680,SERVIAUTOS UNO A 1A LIMITADA,ERVIAUTOS UNO A 1A LIMITADA
4,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 2442,12743,SYRIAN MILITARY INTELLIGENCE DIRECTORATE,YRIAN MILITARY INTELLIGENCE DIRECTORATE
5,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 4287,19100,LORD'S RESISTANCE ARMY,ORD'S RESISTANCE ARMY
6,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 4529,20199,OOO SHIPYARD 'ZALIV',OO SHIPYARD 'ZALIV'
7,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 2355,12530,AUTODROMO CULIACAN RACE PARK,UTODROMO CULIACAN RACE PARK
8,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 10456,37442,SCF MANAGEMENT SERVICES CYPRUS LTD,CF MANAGEMENT SERVICES CYPRUS LTD
9,UID-276,Names where name parts are Modified,Truncation,1 Letters Truncation in the front,Entity,UID-276 - 8032,30088,TOUMEH INTERNATIONAL GROUP,OUMEH INTERNATIONAL GROUP