# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-266' 
theme = 'Names where name parts are Modified'
category = 'Truncation'
sub_category = '> 2 Letter Truncation in the end'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[-1][-3:])) & (len(split_name[-1]) > 3) & (len(' '.join(split_name)) > 10):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

         uid                                               name entity_type
373     7330      STICHTING BENEVOLENCE INTERNATIONAL NEDERLAND        -0-
992     8859              MOVEMENT FOR ISLAMIC REFORM IN ARABIA        -0-
6645   25939               GHADIR PISHRO ELECTRICITY GENERATION        -0-
6582   25858                                     AZAR PAD QESHM        -0-
9790   35860  INTERNATIONAL HELICOPTERS PROGRAMS LIMITED LIA...        -0-
9173   34773                                  LLC 24X7 PANOPTES        -0-
92      4702                           KURDISTAN WORKERS' PARTY        -0-
1160    9525                KOREA RYONGWANG TRADING CORPORATION        -0-
8838   33396                                 CJSC BELTECHEXPORT        -0-
10821  39140          LIMITED LIABILITY COMPANY YADRO FAB DUBNA        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    truncate_word = split_original_name[-1] # choose word to be truncated
    truncate_number = np.random.randint(3, len(truncate_word))
        
    final_test_name[final_test_name.index(truncate_word)] = truncate_word[:len(truncate_word) - truncate_number]

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 373,7330,STICHTING BENEVOLENCE INTERNATIONAL NEDERLAND,STICHTING BENEVOLENCE INTERNATIONAL NEDER
1,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 992,8859,MOVEMENT FOR ISLAMIC REFORM IN ARABIA,MOVEMENT FOR ISLAMIC REFORM IN A
2,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 6645,25939,GHADIR PISHRO ELECTRICITY GENERATION,GHADIR PISHRO ELECTRICITY GEN
3,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 6582,25858,AZAR PAD QESHM,AZAR PAD QE
4,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 9790,35860,INTERNATIONAL HELICOPTERS PROGRAMS LIMITED LIA...,INTERNATIONAL HELICOPTERS PROGRAMS LIMITED LIA...
5,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 9173,34773,LLC 24X7 PANOPTES,LLC 24X7 PANOP
6,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 92,4702,KURDISTAN WORKERS' PARTY,KURDISTAN WORKERS' P
7,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 1160,9525,KOREA RYONGWANG TRADING CORPORATION,KOREA RYONGWANG TRADING CO
8,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 8838,33396,CJSC BELTECHEXPORT,CJSC BEL
9,UID-266,Names where name parts are Modified,Truncation,> 2 Letter Truncation in the end,Entity,UID-266 - 10821,39140,LIMITED LIABILITY COMPANY YADRO FAB DUBNA,LIMITED LIABILITY COMPANY YADRO FAB D