# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-269' 
theme = 'Names where name parts are Modified'
category = 'Truncation'
sub_category = '> 2 Letters Truncation in the front'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[0][:3])) & (len(split_name[0]) > 3) & (len(' '.join(split_name)) > 10):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

        uid                                               name entity_type
823    8244                                AERO CONTINENTE S.A        -0-
2018  11772                       SERVIAGRICOLA CIFUENTES E.U.        -0-
5745  23665                             BLUE LAGOON GROUP LTD.        -0-
4754  21090                      EVENTOS LA MORA, S.A. DE C.V.        -0-
2202  12101  COMERCIALIZADORA DE GANADO Y RENTAS DE CAPITAL...        -0-
166    6730                                HAPPY DAYS S. DE H.        -0-
6736  26151                                       SUPLINKA SRL        -0-
9815  35885  JOINT STOCK COMPANY RYAZANSKOE KONSTRUKTORSKOE...        -0-
9875  36005                            SAYEHBAN SEPEHR DELIJAN        -0-
5272  22487               STATE BANK LUHANSK PEOPLE'S REPUBLIC        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    truncate_word = split_original_name[0] # choose word to be truncated
    truncate_number = np.random.randint(3, len(truncate_word))
        
    final_test_name[final_test_name.index(truncate_word)] = truncate_word[truncate_number:]

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 823,8244,AERO CONTINENTE S.A,O CONTINENTE S.A
1,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 2018,11772,SERVIAGRICOLA CIFUENTES E.U.,IAGRICOLA CIFUENTES E.U.
2,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 5745,23665,BLUE LAGOON GROUP LTD.,E LAGOON GROUP LTD.
3,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 4754,21090,"EVENTOS LA MORA, S.A. DE C.V.","TOS LA MORA, S.A. DE C.V."
4,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 2202,12101,COMERCIALIZADORA DE GANADO Y RENTAS DE CAPITAL...,ORA DE GANADO Y RENTAS DE CAPITAL S.A.
5,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 166,6730,HAPPY DAYS S. DE H.,Y DAYS S. DE H.
6,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 6736,26151,SUPLINKA SRL,A SRL
7,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 9815,35885,JOINT STOCK COMPANY RYAZANSKOE KONSTRUKTORSKOE...,NT STOCK COMPANY RYAZANSKOE KONSTRUKTORSKOE BJ...
8,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 9875,36005,SAYEHBAN SEPEHR DELIJAN,N SEPEHR DELIJAN
9,UID-269,Names where name parts are Modified,Truncation,> 2 Letters Truncation in the front,Entity,UID-269 - 5272,22487,STATE BANK LUHANSK PEOPLE'S REPUBLIC,E BANK LUHANSK PEOPLE'S REPUBLIC