# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-284' 
theme = 'Names where name parts are Modified'
category = 'Truncation'
sub_category = '2 Letters Truncation in the front'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[0][:2])) & (len(split_name[0]) > 2) & (len(' '.join(split_name)) > 10):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

         uid                                               name entity_type
1626   10755                          POLOTSK STEKLOVOLOKNO OAO        -0-
5211   22244                SHANGHAI NORTH BEGINS INTERNATIONAL        -0-
4057   18334                                GREEN SHIPPING LTD.        -0-
10868  39217              DYNASTY INTERNATIONAL COMPANY LIMITED        -0-
9235   35003                          JSC RUSSIAN EXPORT CENTER        -0-
6043   24647                                 DIVETECHNOSERVICES        -0-
1115    9405                INMOBILIARIA EL PRESON S.A. DE C.V.        -0-
9271   35063                                     DJECO GROUP LP        -0-
3454   16473                                   LITOGRAFIA VARON        -0-
1161    9526  KOREA INTERNATIONAL CHEMICAL JOINT VENTURE COM...        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    truncate_word = split_original_name[0] # choose word to be truncated
        
    final_test_name[final_test_name.index(truncate_word)] = truncate_word[2:]

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 1626,10755,POLOTSK STEKLOVOLOKNO OAO,LOTSK STEKLOVOLOKNO OAO
1,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 5211,22244,SHANGHAI NORTH BEGINS INTERNATIONAL,ANGHAI NORTH BEGINS INTERNATIONAL
2,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 4057,18334,GREEN SHIPPING LTD.,EEN SHIPPING LTD.
3,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 10868,39217,DYNASTY INTERNATIONAL COMPANY LIMITED,NASTY INTERNATIONAL COMPANY LIMITED
4,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 9235,35003,JSC RUSSIAN EXPORT CENTER,C RUSSIAN EXPORT CENTER
5,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 6043,24647,DIVETECHNOSERVICES,VETECHNOSERVICES
6,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 1115,9405,INMOBILIARIA EL PRESON S.A. DE C.V.,MOBILIARIA EL PRESON S.A. DE C.V.
7,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 9271,35063,DJECO GROUP LP,ECO GROUP LP
8,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 3454,16473,LITOGRAFIA VARON,TOGRAFIA VARON
9,UID-284,Names where name parts are Modified,Truncation,2 Letters Truncation in the front,Entity,UID-284 - 1161,9526,KOREA INTERNATIONAL CHEMICAL JOINT VENTURE COM...,REA INTERNATIONAL CHEMICAL JOINT VENTURE COMPANY