# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet, num_of_alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-248' 
theme = 'Names where name parts are Modified'
category = 'Transpositions'
sub_category = '1 transposition - 2 letters at the beginning'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.split(' ')
        
        if all(i in alphabet() for i in list(split_name[0][:2])) & (len(split_name[0]) >= 2):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

        uid                                               name entity_type
6580  25856                          UNIVERSE SHIPPING LIMITED        -0-
3793  17243                                    INDUSTRIAL BANK        -0-
3296  16020                              IRAN & SHARGH COMPANY        -0-
3299  16023                     ZARIN RAFSANJAN CEMENT COMPANY        -0-
3737  17099                            KARNER D.O.O. LJUBLJANA        -0-
1716  11167                SURAQIYA FOR MEDIA AND BROADCASTING        -0-
8999  34113  FUTURE GATE FUEL AND PETROCHEMICAL TRADING L.L.C.        -0-
1228   9618                                           KOHAS AG        -0-
9290  35082                                    OOO ROBIN TREID        -0-
9797  35867  JOINT STOCK COMPANY AZOVSKI OPTIKO MECHANICHES...        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    for i in split_original_name:
        if all(j not in alphabet() for j in i):
            split_original_name.remove(i) # remove word with all numbers
        elif num_of_alphabet(i) < 2:
            split_original_name.remove(i) # remove word with less than 2 alphabets
        
    replace_word = split_original_name[0] # choose word to be transposed

    replace_word_list = list(replace_word)
    replace_word_list.insert(0, replace_word_list.pop(1)) # transpose

    final_test_name[final_test_name.index(replace_word)] = ''.join(replace_word_list)

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 6580,25856,UNIVERSE SHIPPING LIMITED,NUIVERSE SHIPPING LIMITED
1,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 3793,17243,INDUSTRIAL BANK,NIDUSTRIAL BANK
2,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 3296,16020,IRAN & SHARGH COMPANY,RIAN & SHARGH COMPANY
3,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 3299,16023,ZARIN RAFSANJAN CEMENT COMPANY,AZRIN RAFSANJAN CEMENT COMPANY
4,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 3737,17099,KARNER D.O.O. LJUBLJANA,AKRNER D.O.O. LJUBLJANA
5,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 1716,11167,SURAQIYA FOR MEDIA AND BROADCASTING,USRAQIYA FOR MEDIA AND BROADCASTING
6,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 8999,34113,FUTURE GATE FUEL AND PETROCHEMICAL TRADING L.L.C.,UFTURE GATE FUEL AND PETROCHEMICAL TRADING L.L.C.
7,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 1228,9618,KOHAS AG,OKHAS AG
8,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 9290,35082,OOO ROBIN TREID,OOO ROBIN TREID
9,UID-248,Names where name parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Entity,UID-248 - 9797,35867,JOINT STOCK COMPANY AZOVSKI OPTIKO MECHANICHES...,OJINT STOCK COMPANY AZOVSKI OPTIKO MECHANICHES...