# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-235' 
theme = 'Names where name parts are Modified'
category = 'Repetitions'
sub_category = '2 letters repeated once'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        for i in split_name:
            if all(j not in alphabet() for j in i):
                split_name.remove(i) # remove word with all numbers
                
        cnt[ind] += len(split_name)

    if all(i >= 2 for i in cnt):
        break

ofac_list_sampled

         uid                                        name entity_type
1636   10797     A K DIFUSION S.A. PUBLICIDAD Y MERCADEO        -0-
7049   26820  BANDAR IMAM BESPARAN PETROCHEMICAL COMPANY        -0-
1633   10793      SERPROVIS S.A. SERVICIOS Y PROVISIONES        -0-
5383   22983               AGRICULTURAL DEVELOPMENT BANK        -0-
10496  37517                            FAR EASTERN BANK        -0-
7916   29783                             ARCH CONSULTING        -0-
7442   28051          TRY PHEAP TRAVEL & TOURS CO., LTD.        -0-
3199   15868                    C.I. CAFFEE VALORES S.A.        -0-
7018   26719                          IRGC GROUND FORCES        -0-
8163   30408                       PARS SARRALLE COMPANY        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    for i in split_original_name:
        if all(j not in alphabet() for j in i):
            split_original_name.remove(i) # remove word with all numbers
        
    for i in range(2):
        replace_word = np.random.choice(split_original_name) # randomly choose word to be replaced
        split_original_name.remove(replace_word) # remove chosen word
        
        replace_word_list = list(replace_word)
        repeat_list = [] # get index of alphabets in each word
        for i in range(len(replace_word)):
            if replace_word[i] in alphabet():
                repeat_list.append(i)
        
        random_index = np.random.choice(repeat_list) # randomly choose letter to be repeated
        
        replace_word_list[random_index] += replace_word_list[random_index] # add repeated letter
        
        final_test_name[final_test_name.index(replace_word)] = ''.join(replace_word_list)

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 1636,10797,A K DIFUSION S.A. PUBLICIDAD Y MERCADEO,A K DIFFUSION S.AA. PUBLICIDAD Y MERCADEO
1,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 7049,26820,BANDAR IMAM BESPARAN PETROCHEMICAL COMPANY,BANNDAR IMAM BESPARAN PETROCHEMICAL COMPANNY
2,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 1633,10793,SERPROVIS S.A. SERVICIOS Y PROVISIONES,SERPROVIS S.AA. SERVICIOS YY PROVISIONES
3,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 5383,22983,AGRICULTURAL DEVELOPMENT BANK,AGRICULTURAL DEVELOPMENTT BAANK
4,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 10496,37517,FAR EASTERN BANK,FAAR EASTTERN BANK
5,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 7916,29783,ARCH CONSULTING,ARRCH CCONSULTING
6,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 7442,28051,"TRY PHEAP TRAVEL & TOURS CO., LTD.","TTRY PHEAP TRAVEL & TOUURS CO., LTD."
7,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 3199,15868,C.I. CAFFEE VALORES S.A.,C.I. CAFFEEE VALORES SS.A.
8,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 7018,26719,IRGC GROUND FORCES,IRRGC GROUND FORCEES
9,UID-235,Names where name parts are Modified,Repetitions,2 letters repeated once,Entity,UID-235 - 8163,30408,PARS SARRALLE COMPANY,PARRS SARRALLE COMPAANY