# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-238' 
theme = 'Names where name parts are Modified'
category = 'Repetitions'
sub_category = '2 letters repeated twice'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.split(' ')
        
        for i in split_name:
            if all(j not in alphabet() for j in i):
                split_name.remove(i) # remove word with all numbers
                
        cnt[ind] += len(split_name)

    if all(i >= 2 for i in cnt):
        break

ofac_list_sampled

        uid                                               name entity_type
1833  11407                             SERVICIOS SILSA S.A.C.        -0-
3450  16469          H Y J COMERCIALIZADORA INTERNACIONAL LTDA        -0-
5571  23323                        KANILAI GROUP INTERNATIONAL        -0-
5597  23405                             HI-LOW PROPERTIES LTD.        -0-
679    7918                 PALESTINIAN ASSOCIATION IN AUSTRIA        -0-
7212  27185             BUSHRA SHIP MANAGEMENT PRIVATE LIMITED        -0-
936    8411                     TRADING & MARITIME INVESTMENTS        -0-
9841  35937  MOLECULAR ELECTRONICS RESEARCH INSTITUTE, JOIN...        -0-
5821  23825                 KINGLY WON INTERNATIONAL CO., LTD.        -0-
2098  11903                AGROPECUARIA HATO SANTA MARIA LTDA.        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    for i in split_original_name:
        if all(j not in alphabet() for j in i):
            split_original_name.remove(i) # remove word with all numbers
        
    for i in range(2):
        replace_word = np.random.choice(split_original_name) # randomly choose word to be replaced
        split_original_name.remove(replace_word) # remove chosen word
        
        replace_word_list = list(replace_word)
        repeat_list = [] # get index of alphabets in each word
        for i in range(len(replace_word)):
            if replace_word[i] in alphabet():
                repeat_list.append(i)
        
        random_index = np.random.choice(repeat_list) # randomly choose letter to be repeated
        
        replace_word_list[random_index] += replace_word_list[random_index] + replace_word_list[random_index] # add repeated letter twice
        
        final_test_name[final_test_name.index(replace_word)] = ''.join(replace_word_list)

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 1833,11407,SERVICIOS SILSA S.A.C.,SERVICIOS SILSAAA S.AAA.C.
1,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 3450,16469,H Y J COMERCIALIZADORA INTERNACIONAL LTDA,H Y J COMERCIALIZADORA INTERNACIOOONAL LTDDDA
2,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 5571,23323,KANILAI GROUP INTERNATIONAL,KANILAI GROOOUP INTERNATIONNNAL
3,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 5597,23405,HI-LOW PROPERTIES LTD.,HI-LOW PROPPPERTIES LTTTD.
4,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 679,7918,PALESTINIAN ASSOCIATION IN AUSTRIA,PALESTINIIIAN ASSOCIATION INNN AUSTRIA
5,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 7212,27185,BUSHRA SHIP MANAGEMENT PRIVATE LIMITED,BUSHRA SHIP MANNNAGEMENT PRIIIVATE LIMITED
6,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 936,8411,TRADING & MARITIME INVESTMENTS,TRADING & MARITTTIME INVESTMENTTTS
7,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 9841,35937,"MOLECULAR ELECTRONICS RESEARCH INSTITUTE, JOIN...","MOLECULAR ELECTRONNNICS RESEARCH IIINSTITUTE, ..."
8,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 5821,23825,"KINGLY WON INTERNATIONAL CO., LTD.","KIIINGLY WON INTERNATTTIONAL CO., LTD."
9,UID-238,Names where name parts are Modified,Repetitions,2 letters repeated twice,Entity,UID-238 - 2098,11903,AGROPECUARIA HATO SANTA MARIA LTDA.,AGROOOPECUARIA HATO SANTA MARRRIA LTDA.