# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet, num_of_alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-252' 
theme = 'Names where name parts are Modified'
category = 'Transpositions'
sub_category = '1 transposition - more than 2 letters at the beginning'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.upper().split(' ')
        
        if all(i in alphabet() for i in list(split_name[0][:3])) & (len(split_name[0]) >= 3):
            cnt[ind] += 1

    if all(i == 1 for i in cnt):
        break

ofac_list_sampled

        uid                                               name entity_type
7711  28916                   SHANGHAI SAINT LOGISTICS LIMITED        -0-
9961  36329                               TSARGRAD-KULTURA OOO        -0-
6652  25946               GHADIR REAL-TIME SYSTEMS DEVELOPMENT        -0-
3315  16039                                           PARS MCS        -0-
8233  30606                       ABSOLUTE CHAMPIONSHIP AKHMAT        -0-
3637  16865            JOINT-STOCK COMPANY CONCERN ALMAZ-ANTEY        -0-
3633  16860                                           TEMPBANK        -0-
6490  25636  IRAN'S NUCLEAR POWER PLANT CONSTRUCTION MANAGE...        -0-
6506  25653                              MESBAH ENERGY COMPANY        -0-
9838  35918  THE LIMITED LIABILITY COMPANY NETWORKING COMPA...        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    for i in split_original_name:
        if all(j not in alphabet() for j in i):
            split_original_name.remove(i) # remove word with all numbers
        elif num_of_alphabet(i) < 3:
            split_original_name.remove(i) # remove word with less than 3 alphabets
        
    replace_word = split_original_name[0] # choose word to be transposed

    replace_word_list = list(replace_word)
    replace_word_list.insert(0, replace_word_list.pop(2)) # transpose

    final_test_name[final_test_name.index(replace_word)] = ''.join(replace_word_list)

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 7711,28916,SHANGHAI SAINT LOGISTICS LIMITED,ASHNGHAI SAINT LOGISTICS LIMITED
1,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 9961,36329,TSARGRAD-KULTURA OOO,ATSRGRAD-KULTURA OOO
2,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 6652,25946,GHADIR REAL-TIME SYSTEMS DEVELOPMENT,AGHDIR REAL-TIME SYSTEMS DEVELOPMENT
3,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 3315,16039,PARS MCS,RPAS MCS
4,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 8233,30606,ABSOLUTE CHAMPIONSHIP AKHMAT,SABOLUTE CHAMPIONSHIP AKHMAT
5,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 3637,16865,JOINT-STOCK COMPANY CONCERN ALMAZ-ANTEY,IJONT-STOCK COMPANY CONCERN ALMAZ-ANTEY
6,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 3633,16860,TEMPBANK,MTEPBANK
7,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 6490,25636,IRAN'S NUCLEAR POWER PLANT CONSTRUCTION MANAGE...,AIRN'S NUCLEAR POWER PLANT CONSTRUCTION MANAGE...
8,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 6506,25653,MESBAH ENERGY COMPANY,SMEBAH ENERGY COMPANY
9,UID-252,Names where name parts are Modified,Transpositions,1 transposition - more than 2 letters at the b...,Entity,UID-252 - 9838,35918,THE LIMITED LIABILITY COMPANY NETWORKING COMPA...,ETH LIMITED LIABILITY COMPANY NETWORKING COMPA...