# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-247' 
theme = 'Names where name parts are Modified'
category = 'Transpositions'
sub_category = '1 transposition - 2 letters Any where'
entity_type = 'Entity'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate entities

## randomly choose 10 rows

In [6]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid                                               name entity_type
3633   16860                                           TEMPBANK        -0-
7247   27240                               GRUPPO DOMANO S.R.L.        -0-
9256   35024                        LLC VEB.RF ASSET MANAGEMENT        -0-
4220   18954            YONGJIN SHIP MANAGEMENT COMPANY LIMITED        -0-
3107   15710                             INVERSIONES GILFE S.A.        -0-
10570  37766  JOINT STOCK COMPANY KRASNODARSKIY AVTOCENTR KAMAZ        -0-
6391   25484                              MOALLEM INSURANCE CO.        -0-
3965   18071                            OPERADORA EFICAZ PEGASO        -0-
884     8345                        ARCHI CENTRE I.C.E. LIMITED        -0-
1215    9600                            SARA PROPERTIES LIMITED        -0-

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    original_name_list = list(original_name) # transfer name string into letter list
    
    final_test_name = original_name_list.copy()
    
    while True:
        for i in range(2):
            random_list = list(range(len(original_name_list))) # randomly choose letter to be transposed
            while True:
                random_letter_index = np.random.choice(random_list)
                random_letter = original_name_list[random_letter_index]
                if random_letter in alphabet():
                    break
            random_list.remove(random_letter_index) # remove chosen letter index

            random_place = np.random.choice(random_list) # randomly choose place to transpose to

            del original_name_list[random_letter_index] # remove chosen letter
            original_name_list.insert(random_place, random_letter) # add transposed letter

            final_test_name = ''.join(original_name_list)
            replace_word = ''.join(original_name_list)
        
        if final_test_name != original_name:
            break
        else:
            final_test_name = list(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 3633,16860,TEMPBANK,TENPMBAK
1,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 7247,27240,GRUPPO DOMANO S.R.L.,RGUPPO DOMANO S.R.L.
2,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 9256,35024,LLC VEB.RF ASSET MANAGEMENT,LLC VEB.RF ASSET MANTAGMENE
3,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 4220,18954,YONGJIN SHIP MANAGEMENT COMPANY LIMITED,YONGJN SHIP MADNIAGEMENT COMPANY LIMITE
4,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 3107,15710,INVERSIONES GILFE S.A.,IENVERSAIONES GILF S..
5,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 10570,37766,JOINT STOCK COMPANY KRASNODARSKIY AVTOCENTR KAMAZ,JOINT SKTOCK COMPANY KRASNODARSIY AVTOCNTR KAMAEZ
6,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 6391,25484,MOALLEM INSURANCE CO.,MOALE INSURANMCEL CO.
7,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 3965,18071,OPERADORA EFICAZ PEGASO,OPERRADOA EFIAZC PEGASO
8,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 884,8345,ARCHI CENTRE I.C.E. LIMITED,ARCHI CNTREE I.C.. LIMEITED
9,UID-247,Names where name parts are Modified,Transpositions,1 transposition - 2 letters Any where,Entity,UID-247 - 1215,9600,SARA PROPERTIES LIMITED,ARA PROPERSTIES LIMTEDI