# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np
from test_case_generator_functions import alphabet

# TEST CASE TYPE REFERENCE INFORMATION

In [2]:
uid = 'UID-236' 
theme = 'Names where name parts are Modified'
category = 'Repetitions'
sub_category = '2 letters repeated once'
entity_type = 'Individual'

## download the OFAC list from the web

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

# FILTER FOR THE REQUIREMENTS OF THE TEST CASE TYPE

## filter for the requirements of the specific test case type

In [5]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate individuals

## randomly choose 10 rows

In [6]:
while True:
    ofac_list_sampled = ofac_list_filtered.sample(n = 10)
    cnt = [0] * 10
    for ind, name in enumerate(ofac_list_sampled['name']):
        split_name = name.split(' ')
        
        for i in split_name:
            if all(j not in alphabet() for j in i):
                split_name.remove(i) # remove word with all numbers
                
        cnt[ind] += len(split_name)

    if all(i >= 2 for i in cnt):
        break

ofac_list_sampled

         uid                           name entity_type
8197   30511                 WANG, Dongming  individual
8024   30062              KULYK, Konstantin  individual
2372   12555                  JAFARI, Milad  individual
5108   22078                   ASWAD, Ahmad  individual
9587   35570  BULAVINOV, Vadim Yevgenyevich  individual
9516   35499  FYODOROV, Yevgeny Alekseevich  individual
10210  36943    KOMANOV, Viktor Alekseevich  individual
7887   29623            MADANIPOUR, Mahmoud  individual
4646   20601                    PAK, Han Se  individual
4677   20942                   DABUL, Samir  individual

# CREATE THE TEST CASES

## create blank final test cases table

In [7]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

## run loop to generate the test cases

In [8]:
for index, row in ofac_list_sampled.iterrows():
    original_name = row['name'].upper()
    split_original_name = original_name.split(' ') # split name into word
    final_test_name = split_original_name.copy()
    
    for i in split_original_name:
        if all(j not in alphabet() for j in i):
            split_original_name.remove(i) # remove word with all numbers
        
    for i in range(2):
        replace_word = np.random.choice(split_original_name) # randomly choose word to be replaced
        split_original_name.remove(replace_word) # remove chosen word
        
        replace_word_list = list(replace_word)
        repeat_list = [] # get index of alphabets in each word
        for i in range(len(replace_word)):
            if replace_word[i] in alphabet():
                repeat_list.append(i)
        
        random_index = np.random.choice(repeat_list) # randomly choose letter to be repeated
        
        replace_word_list[random_index] += replace_word_list[random_index] # add repeated letter
        
        final_test_name[final_test_name.index(replace_word)] = ''.join(replace_word_list)

    final_test_name = ' '.join(final_test_name)
    
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 8197,30511,"WANG, Dongming","WANNG, DONGMINGG"
1,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 8024,30062,"KULYK, Konstantin","KUULYK, KONSSTANTIN"
2,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 2372,12555,"JAFARI, Milad","JAAFARI, MIILAD"
3,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 5108,22078,"ASWAD, Ahmad","ASWAAD, AAHMAD"
4,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 9587,35570,"BULAVINOV, Vadim Yevgenyevich","BULAVIINOV, VADIMM YEVGENYEVICH"
5,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 9516,35499,"FYODOROV, Yevgeny Alekseevich","FYODOROV, YEVVGENY ALEKSEEEVICH"
6,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 10210,36943,"KOMANOV, Viktor Alekseevich","KOMANOVV, VIKKTOR ALEKSEEVICH"
7,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 7887,29623,"MADANIPOUR, Mahmoud","MMADANIPOUR, MMAHMOUD"
8,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 4646,20601,"PAK, Han Se","PAK, HANN SEE"
9,UID-236,Names where name parts are Modified,Repetitions,2 letters repeated once,Individual,UID-236 - 4677,20942,"DABUL, Samir","DABUUL, SAMIIR"