In [1]:
import pandas as pd
import numpy as np
import random
#from test_case_generator_functions import separate_words_in_name_2,separate_words_in_name_3, special_characters,alphabet, characters_digital

In [2]:
df = pd.read_excel('GWU Test Case Type Tracker_ABCNY.XLSX')

In [3]:
yy=df[df['Student']=='Yingying Liu']
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10915,39520,"ADEN, Mohamoud Abdi",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 13 Mar 1985; POB Garissa, Kenya; nationali..."
10916,39536,"OREKHOV, Yury Yuryevich",individual,RUSSIA-EO14024,-0-,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 30 Mar 1980; POB Almaty, Kazakhstan; natio..."
10917,39537,NDA NORD-DEUTSCHE INDUSTRIEANLAGENBAU GMBH,-0-,RUSSIA-EO14024,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Organization Established Date 27 Jun 2007; Reg...
10918,39538,OPUS ENERGY TRADING LLC,-0-,RUSSIA-EO14024,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Organization Established Date 02 Mar 2022; Reg...
10919,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']
ofac_list

         uid                                        name entity_type
0         36                      AEROCARIBBEAN AIRLINES        -0-
1        173                   ANGLO-CARIBBEAN CO., LTD.        -0-
2        306                      BANCO NACIONAL DE CUBA        -0-
3        424                          BOUTIQUE LA MAISON        -0-
4        475                                CASA DE CUBA        -0-
...      ...                                         ...         ...
10915  39520                         ADEN, Mohamoud Abdi  individual
10916  39536                     OREKHOV, Yury Yuryevich  individual
10917  39537  NDA NORD-DEUTSCHE INDUSTRIEANLAGENBAU GMBH        -0-
10918  39538                     OPUS ENERGY TRADING LLC        -0-
10919                                               NaN         NaN

[10920 rows x 3 columns]

In [5]:
ofac_list['entity_type'].value_counts()

individual    5718
-0-           4400
vessel         515
aircraft       286
Name: entity_type, dtype: int64

In [6]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [7]:
zhonglei={}
for index,row in yy.iterrows():
    uid = row['UID']
    theme = row['Theme']
    category = row['Category'].strip()
    sub_category = row['Subcategory'].strip()
    entity = row['Entity Type']
    if category == 'Date Replacement' or sub_category =='Company Acronym to Full Name':
        continue
    if entity == 'Entity': 
        key = theme+'/'+category+'/'+sub_category
        value = uid+'/'+entity
        zhonglei[key]=value
print(len(zhonglei))
print(zhonglei)

31
{'Different Name Parts/Articles/> 2 Articles difference': 'UID-110/Entity', 'Different Name Parts/Articles/1 Articles difference': 'UID-112/Entity', 'Different Name Parts/Articles/2 Articles difference': 'UID-113/Entity', 'Names where Name Parts are Modified/Character Addition/1 Character addition at the beginning': 'UID-178/Entity', 'Names where Name Parts are Modified/Character Addition/1 Character addition at the end': 'UID-181/Entity', 'Names where Name Parts are Modified/Character Addition/1 Character addition at the middle': 'UID-184/Entity', 'Names where Name Parts are Modified/Character Addition/2 Characters addition': 'UID-187/Entity', 'Names where Name Parts are Modified/Character Addition/Very Short Name': 'UID-188/Entity', 'Names where Name Parts are Modified/Character Removal in the Middle of a Name Part/1 character removal at the middle': 'UID-191/Entity', 'Names where Name Parts are Modified/Character Removal in the Middle of a Name Part/2 characters removal': 'UID-194/Entity', 'Names where Name Parts are Modified/Character Replaced by Number/>2 Letters replaced by numbers - different name part': 'UID-196/Entity', 'Names where Name Parts are Modified/Character Replaced by Number/>2 Letters Replaced by Numbers - same name part': 'UID-199/Entity', 'Names where Name Parts are Modified/Character Replaced by Number/1 Letter Replaced by Number': 'UID-202/Entity', 'Names where Name Parts are Modified/Character Replaced by Number/2 Letters replaced by numbers - different name part': 'UID-205/Entity', 'Names where Name Parts are Modified/Character Replaced by Number/2 Letters Replaced by Numbers - same name part': 'UID-208/Entity', 'Different Name Parts/Company designator/> 2 Company Designators difference': 'UID-114/Entity', 'Different Name Parts/Company designator/1 Company Designator difference': 'UID-115/Entity', 'Different Name Parts/Company designator/2 Company Designators difference': 'UID-116/Entity', 'Name Part Variations/Company designator variation/1 company designator equivalent': 'UID-131/Entity', 'Name Part Variations/Company designator variation/2 company designator equivalent': 'UID-132/Entity', 'Different Name Parts/Company Location/1 name part difference': 'UID-117/Entity', 'Name Part Variations/Initials/Full Name to Acronym': 'UID-140/Entity', 'Different Name Parts/Last Name Part/1 Name Part difference': 'UID-120/Entity', 'Name Part Variations/Name Part Abbreviation/> 2 name parts abbreviated': 'UID-146/Entity', 'Name Part Variations/Name Part Abbreviation/1 name part abbreviated': 'UID-148/Entity', 'Name Part Variations/Name Part Abbreviation/2 name parts abbreviated': 'UID-150/Entity', 'Different Name Parts/Name Parts in the middle/1 Name Part difference': 'UID-124/Entity', 'Name Part Variations/Number Replacement/> 2 numbers replaced by strings': 'UID-157/Entity', 'Name Part Variations/Number Replacement/>2 strings replaced by number': 'UID-158/Entity', 'Name Part Variations/Number Replacement/1 string replaced by number': 'UID-159/Entity', 'Name Part Variations/Number Replacement/2 strings replaced by number': 'UID-160/Entity'}

In [8]:
def article(sentence):
    articles = ['A', 'AN', 'THE', 'AND', 'OF', 'OR', 'IN', 'ON', 'AT']
    word = sentence.split(' ')
    count=0
    for index,w in enumerate(word):
        if w in articles:
            word[index] = np.random.choice(articles)
            count+=1
            
    return ' '.join(word),count

In [9]:
def company(sentence,num):
    random_list=['COMPANY','CORPORATION','INCORPORATED','LIMITED','LLC','LTD','PLC','INC','CO','CORP','CORP.','CORP','CORP']

    word = sentence.split(' ')
    count=0
    for index,w in enumerate(word):
        if count == num:
            break
        word[index] = np.random.choice(random_list)
        count+=1

    return ' '.join(word),count

In [10]:
def character(sentence,pos):
    random_list=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
    word = sentence.split(' ')
    if pos =='begin':
        return np.random.choice(random_list)+sentence
    elif pos == 'end':
        return sentence+np.random.choice(random_list)
    elif pos == 'middle':
        word[len(word)//2] = word[len(word)//2]+np.random.choice(random_list)
        return ' '.join(word)
    elif pos =='short':
        a = np.random.randint(0,len(word))
        word[a] = word[a]+np.random.choice(random_list)
        return ' '.join(word)
    else:
        a = np.random.randint(0,len(word))
        word[a] = word[a]+np.random.choice(random_list)
        b = np.random.randint(0,len(word))
        word[b] = word[b]+np.random.choice(random_list)
        return ' '.join(word)

In [11]:
def removal(sentence,pos):
    word = sentence.split(' ')
    if pos == 'middle':
        id1 = len(word)//2
        id2 = np.random.randint(0,len(word[id1]))
        word[id1]=word[id1].replace(word[id1][id2],'')
        return ' '.join(word)
    else:
        for _ in range(2):
            id1 = np.random.randint(0,len(word))
            id2 = np.random.randint(0,len(word[id1]))
            word[id1]=word[id1].replace(word[id1][id2],'')

        return ' '.join(word)

In [12]:
def replace_number(sentence,num,mode):
    word = sentence.split(' ')
    random_list = ['1','2','3','4','5','6','7','8','9','0']
    if num ==1:
        id1 = np.random.randint(0,len(word))
        id2 = np.random.randint(0,len(word[id1]))
        word[id1]= word[id1].replace(word[id1][id2],np.random.choice(random_list))
        return ' '.join(word)
    else:
        if mode == 'same':
            id1 = np.random.randint(0,len(word))
            for _ in range(num):
                id2 = np.random.randint(0,len(word[id1]))
                word[id1]= word[id1].replace(word[id1][id2],np.random.choice(random_list))
            return ' '.join(word)
        else:
            for _ in range(int(num)):
                id1 = np.random.randint(0,len(word))
                id2 = np.random.randint(0,len(word[id1]))
                word[id1]= word[id1].replace(word[id1][id2],np.random.choice(random_list))
            return ' '.join(word)

In [13]:
def count_comvar(sentence):
    random_list={'co.':'Company','kg':'LLP','company':'CO.','llp':'KG'}
    word = sentence.split(' ')
    count =0
    for i in word:
        if i.lower() in random_list.keys():
            count+=1
    return count

def comvar(sentence,num):
    name_list={'co.':'Company','kg':'LLP','company':'CO.','llp':'KG'}
    word = sentence.split(' ')
    count=0
    for index, i in enumerate(word):
        if i.lower() in name_list.keys():
            word[index] = name_list[i.lower()]
            count+=1
        if count==num:
            break
    return ' '.join(word)

In [14]:
def is_country(sentence):
    random_list = ['china', 'america', 'japan', 'korea', 'india', 'germany', 'france', 'england', 'italy', 'spain', 'canada', 'brazil', 'mexico', 'russia', 'australia', 'new zealand', 'south africa', 'egypt', 'saudi arabia', 'iran', 'iraq', 'syria']
    word = sentence.split(' ')
    for i in word:
        if i.lower() in random_list:
            return True
    return False
    
def comloc(sentence):
    random_list = {'china': 'China', 'america': 'America', 'japan': 'Japan', 'korea': 'Korea', 'india': 'India', 'germany': 'Germany', 'france': 'France', 'england': 'England', 'italy': 'Italy', 'spain': 'Spain', 'canada': 'Canada', 'brazil': 'Brazil', 'mexico': 'Mexico', 'russia': 'Russia', 'australia': 'Australia', 'new zealand': 'New Zealand', 'south africa': 'South Africa', 'egypt': 'Egypt', 'saudi arabia': 'Saudi Arabia', 'iran': 'Iran', 'iraq': 'Iraq', 'syria': 'Syria'}
    country_name =['China', 'America', 'Japan', 'Korea', 'India', 'Germany', 'France', 'England', 'Italy', 'Spain', 'Canada', 'Brazil', 'Mexico', 'Russia', 'Australia', 'New Zealand', 'South Africa', 'Egypt', 'Saudi Arabia', 'Iran', 'Iraq', 'Syria']
    word = sentence.split(' ')
    for index, i in enumerate(word):
        if i.lower() in random_list.keys():
            word[index] = np.random.choice(country_name)
            break
    return ' '.join(word)

In [15]:
from random_words import RandomWords
def last_name(sentence):
    word  = sentence.split(' ')
    rw = RandomWords()
    word[len(word)-1]=rw.random_words(count=1)[0]
    return ' '.join(word)

In [16]:
def is_abbreviation(sentence,num):
    count=0
    word = sentence.split()
    if len(word)<num:
        return False
    for i in word:
        if len(i)>3:
            count+=1
    if count>=num:
        return True
    else:
        return False

def name_abbreviation(sentence,num):
    word  = sentence.split()
    count=0
    for index,i in enumerate(word):
        if count>=num:
            break
        if len(i)>3:
            id = np.random.randint(2,4)
            word[index]=i[:id].upper()
            count+=1
        
    return ' '.join(word)

In [17]:
def is_initials(sentence):
    word = sentence.split()
    return len(word)>=3

def initials(sentence):
    word  = sentence.split()
    for index,i in enumerate(word):
        word[index]=i[0].upper()
    return ' '.join(word)

In [18]:
def is_name_part_middle(sentence):
    word = sentence.split()
    return len(word)>=3
def name_part_middle(sentence):
    word = sentence.split()
    idx = random.randint(1,len(word)-1)
    rw = RandomWords()
    word[idx] = rw.random_words(count=1)[0]
    return ' '.join(word)

In [19]:

def is_number_replacement(sentence,mode,num):
    num_map={'1':'one','2':'two','3':'three','4':'four','5':'five','6':'six','7':'seven','8':'eight','9':'nine','0':'zero','10':'ten','20':'twenty','30':'thirty','40':'forty','50':'fifty','60':'sixty','70':'seventy','80':'eighty','90':'ninety','100':'hundred','1000':'thousand','1000000':'million','1000000000':'billion','11':'eleven','12':'twelve','13':'thirteen','14':'fourteen','15':'fifteen','16':'sixteen','17':'seventeen','18':'eighteen','19':'nineteen'}    
    str_map={'one':'1','two':'2','three':'3','four':'4','five':'5','six':'6','seven':'7','eight':'8','nine':'9','zero':'0','ten':'10','twenty':'20','thirty':'30','forty':'40','fifty':'50','sixty':'60','seventy':'70','eighty':'80','ninety':'90','hundred':'100','thousand':'1000','million':'1000000','billion':'1000000000','eleven':'11','twelve':'12','thirteen':'13','fourteen':'14','fifteen':'15','sixteen':'16','seventeen':'17','eighteen':'18','nineteen':'19'}
    word = sentence.split()
    count=0
    if mode =='num2str':
        for i in word:
            if i.isdigit() and len(i)>num:
                return True
    elif mode =='str2num':
        for i in word:
            if i.lower() in str_map.keys():
                count+=1
        if count>=num:
            return True
    return False
            
def num2str(sentence):
    num_map={'1':'one','2':'two','3':'three','4':'four','5':'five','6':'six','7':'seven','8':'eight','9':'nine','0':'zero','10':'ten','20':'twenty','30':'thirty','40':'forty','50':'fifty','60':'sixty','70':'seventy','80':'eighty','90':'ninety','100':'hundred','1000':'thousand','1000000':'million','1000000000':'billion','11':'eleven','12':'twelve','13':'thirteen','14':'fourteen','15':'fifteen','16':'sixteen','17':'seventeen','18':'eighteen','19':'nineteen'}
    word = sentence.split()
    for index,i in enumerate(word):
        if i.isdigit():
            word[index]=''
            for idx,j in enumerate(i):
                word[index]=word[index]+num_map[j]
                if idx<len(i)-1:
                    word[index]=word[index]+' '
    return ' '.join(word)

def str2num(sentence,num):
    str_map={'one':'1','two':'2','three':'3','four':'4','five':'5','six':'6','seven':'7','eight':'8','nine':'9','zero':'0','ten':'10','twenty':'20','thirty':'30','forty':'40','fifty':'50','sixty':'60','seventy':'70','eighty':'80','ninety':'90','hundred':'100','thousand':'1000','million':'1000000','billion':'1000000000','eleven':'11','twelve':'12','thirteen':'13','fourteen':'14','fifteen':'15','sixteen':'16','seventeen':'17','eighteen':'18','nineteen':'19'}
    word = sentence.split()
    count =0
    for index,i in enumerate(word):
        if count>=num:
            break
        if i.lower() in str_map.keys():
            word[index]=str_map[i.lower()]
            count+=1
    # print(' '.join(word))
    return ' '.join(word)

def number_replacement(sentence,num,mode):
    if mode=='num2str':
        return num2str(sentence)
    else:
        return str2num(sentence,num)

In [20]:
def get_sample(ofac_list,theme,category,sub_category,entity):
    if entity == 'Entity':
        ofac_list_sample = ofac_list[(ofac_list.entity_type == '-0- ')].sample(n=4000)
    # print(ofac_list_sample)
    res = []
    for index,row in ofac_list_sample.iterrows():
        name = row['name']
        uid = row['uid']
        if entity == 'Entity':
            if category == 'Articles':
                if sub_category == '> 2 Articles difference':
                        
                        name,count = article(name)
                        if count > 2:
                            res.append(uid)
                elif sub_category == '1 Articles difference':
                        name = row['name']
                        uid = row['uid']
                        name,count = article(name)
                        if count == 1:
                            res.append(uid)
                else:
                        name = row['name']
                        uid = row['uid']
                        name,count = article(name)
                        if count == 2:
                            res.append(uid)
            elif category.lower() == 'company designator':
                res.append(uid)
            elif category.lower() == 'character addition':
                res.append(uid)
            elif category.lower() == 'character removal in the middle of a name part':
                res.append(uid)
            elif category.lower() =='character replaced by number':
                res.append(uid)
            elif category.lower() == 'company designator variation':
                count  = count_comvar(name)
                if sub_category == '1 company designator equivalent':
                    if count>=1:
                        res.append(uid)
                else:
                    if count>=2:
                        res.append(uid)
            elif category.lower() == 'company location':
                if is_country(name):
                    res.append(uid)
            elif category.lower() == 'last name part':
                res.append(uid)
            elif category.lower() == 'name part abbreviation':
                if sub_category =='1 name part abbreviated':
                    if is_abbreviation(name,1):
                        res.append(uid)
                elif sub_category=='2 name parts abbreviated':
                    if is_abbreviation(name,2):
                        res.append(uid)
                else:
                    if is_abbreviation(name,3):
                        res.append(uid)
            elif category.lower() == 'name parts in the middle':
                if is_name_part_middle(name):
                    res.append(uid)
            elif category.lower() == 'initials':
                if is_initials(name) and sub_category == 'Full Name to Acronym':
                    res.append(uid)
            elif category.lower() == 'number replacement':
                if sub_category == '1 string replaced by number':
                    if is_number_replacement(name,'str2num',1):
                        res.append(uid)
                elif sub_category == '2 strings replaced by number':
                    if is_number_replacement(name,'str2num',2):
                        res.append(uid)
                elif sub_category == '>2 strings replaced by number':
                    if is_number_replacement(name,'str2num',3):
                        res.append(uid)
                elif sub_category == '> 2 numbers replaced by strings':
                    if is_number_replacement(name,'num2str',2):
                        res.append(uid)
        if len(res)==10:
            break
    print("sample ",sub_category ," ",len(res))
    return res

In [21]:
def func(key,value):
    uid,entity = value.split('/')
    theme,category,sub_category = key.split('/')
    
    # getting samples
    sample_uid = get_sample(ofac_list,theme,category,sub_category,entity)
    # print(sample_uid,'       ',sub_category)
    ofac_list_sampled = ofac_list[ofac_list['uid'].isin(sample_uid)]
    # print(ofac_list_sampled)
    for index,row in ofac_list_sampled.iterrows():
        ofac_uid = row['uid']
        ofac_name = row['name']
        # print(category.lower())
        final_test_name=None
        if category == 'Articles':
            final_test_name = article(ofac_name)[0]

        elif category.lower() == 'company designator':
            if sub_category == '> 2 Company Designators difference':
                final_test_name = company(ofac_name,3)
            elif sub_category == '1 Company Designator difference':
                final_test_name = company(ofac_name,1)
            else:
                final_test_name = company(ofac_name,2)
        elif category.lower() == 'character addition':
            if sub_category == '1 Character addition at the beginning':
                final_test_name = character(ofac_name,'begin')
            elif sub_category == '1 Character addition at the end':
                final_test_name = character(ofac_name,'end')
            elif sub_category == '1 Character addition at the middle':
                final_test_name = character(ofac_name,'middle')
            elif sub_category == 'Very Short Name':
                final_test_name = character(ofac_name,'short')
            else:
                final_test_name = character(ofac_name,'random')

        elif category.lower() == 'character removal in the middle of a name part':
            if sub_category == '1 character removal at the middle':
                final_test_name = removal(ofac_name,'middle')
            else:
                final_test_name = removal(ofac_name,'random')
        elif category.lower() == 'character replaced by number':
            if sub_category == '>2 Letters replaced by numbers - different name part':
                final_test_name = replace_number(ofac_name,3,'different')
            elif sub_category == '>2 Letters Replaced by Numbers - same name part':
                final_test_name = replace_number(ofac_name,3,'same')
            elif sub_category == '1 Letter Replaced by Number':
                final_test_name = replace_number(ofac_name,1,'same')
            elif sub_category =='2 Letters replaced by numbers - different name part':
                final_test_name = replace_number(ofac_name,2,'different')
            elif sub_category =='2 Letters Replaced by Numbers - same name part':
                final_test_name = replace_number(ofac_name,2,'same')
        elif category.lower() == 'company designator variation':
            if sub_category == '1 company designator equivalent':
                final_test_name = comvar(ofac_name,1)
            else:
                final_test_name = comvar(ofac_name,2)
        elif category.lower() == 'company location':
            final_test_name = comloc(ofac_name)
        elif category.lower() == 'last name part':
            final_test_name = last_name(ofac_name)
        elif category.lower() == 'name part abbreviation':
            if sub_category =='1 name part abbreviated':
                final_test_name = name_abbreviation(ofac_name,1)
            elif sub_category=='2 name parts abbreviated':
                final_test_name = name_abbreviation(ofac_name,2)
            else:
                final_test_name = name_abbreviation(ofac_name,3)
        elif category.lower() == 'name parts in the middle':
            final_test_name = name_part_middle(ofac_name)
        elif category.lower() == 'initials':
            final_test_name = initials(ofac_name)
        elif category.lower() == 'number replacement':
            if sub_category == '1 string replaced by number':
                final_test_name = number_replacement(ofac_name,1,'str2num')
            elif sub_category == '2 strings replaced by number':
                final_test_name = number_replacement(ofac_name,2,'str2num')
            elif sub_category == '>2 strings replaced by number':
                final_test_name = number_replacement(ofac_name,3,'str2num')
            else:
                final_test_name = number_replacement(ofac_name,3,'num2str')
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name]

In [22]:
for key,value in zhonglei.items():
    func(key,value)

sample  > 2 Articles difference   10
sample  1 Articles difference   10
sample  2 Articles difference   10
sample  1 Character addition at the beginning   10
sample  1 Character addition at the end   10
sample  1 Character addition at the middle   10
sample  2 Characters addition   10
sample  Very Short Name   10
sample  1 character removal at the middle   10
sample  2 characters removal   10
sample  >2 Letters replaced by numbers - different name part   10
sample  >2 Letters Replaced by Numbers - same name part   10
sample  1 Letter Replaced by Number   10
sample  2 Letters replaced by numbers - different name part   10
sample  2 Letters Replaced by Numbers - same name part   10
sample  > 2 Company Designators difference   10
sample  1 Company Designator difference   10
sample  2 Company Designators difference   10
sample  1 company designator equivalent   10
sample  2 company designator equivalent   10
sample  1 name part difference   10
sample  Full Name to Acronym   10
sample  1 Name Part difference   10
sample  > 2 name parts abbreviated   10
sample  1 name part abbreviated   10
sample  2 name parts abbreviated   10
sample  1 Name Part difference   10
sample  > 2 numbers replaced by strings   10
sample  >2 strings replaced by number   1
sample  1 string replaced by number   9
sample  2 strings replaced by number   0

In [23]:
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-110,Different Name Parts,Articles,> 2 Articles difference,Entity,UID-110 - 453,7651,ARMY OF THE REPUBLIC OF ILIRIDA,ARMY IN A REPUBLIC THE ILIRIDA
1,UID-110,Different Name Parts,Articles,> 2 Articles difference,Entity,UID-110 - 2456,12763,LAW ENFORCEMENT FORCES OF THE ISLAMIC REPUBLIC...,LAW ENFORCEMENT FORCES ON AND ISLAMIC REPUBLIC...
2,UID-110,Different Name Parts,Articles,> 2 Articles difference,Entity,UID-110 - 4203,18888,STATE ENTERPRISE MAGARACH OF THE NATIONAL INST...,STATE ENTERPRISE MAGARACH OR A NATIONAL INSTIT...
3,UID-110,Different Name Parts,Articles,> 2 Articles difference,Entity,UID-110 - 5415,23015,CENTRAL BANK OF THE DEMOCRATIC PEOPLE'S REPUBL...,CENTRAL BANK AN OF DEMOCRATIC PEOPLE'S REPUBLI...
4,UID-110,Different Name Parts,Articles,> 2 Articles difference,Entity,UID-110 - 5487,23174,MINISTRY OF LAND AND MARITIME TRANSPORTATION O...,MINISTRY IN LAND A MARITIME TRANSPORTATION AN ...
...,...,...,...,...,...,...,...,...,...
285,UID-159,Name Part Variations,Number Replacement,1 string replaced by number,Entity,UID-159 - 6734,26150,INKUORTYN FIVE SRL,INKUORTYN 5 SRL
286,UID-159,Name Part Variations,Number Replacement,1 string replaced by number,Entity,UID-159 - 7093,26898,FOUR SEASONS DAMASCUS,4 SEASONS DAMASCUS
287,UID-159,Name Part Variations,Number Replacement,1 string replaced by number,Entity,UID-159 - 7262,27266,FOURTEEN STAR SHIPPING MANAGEMENT,14 STAR SHIPPING MANAGEMENT
288,UID-159,Name Part Variations,Number Replacement,1 string replaced by number,Entity,UID-159 - 7264,27268,FIVE ENERGY OIL TRADING,5 ENERGY OIL TRADING
289,UID-159,Name Part Variations,Number Replacement,1 string replaced by number,Entity,UID-159 - 8417,31333,SKY ONE CONSTRUCTION COMPANY LIMITED,SKY 1 CONSTRUCTION COMPANY LIMITED