In [1]:
import pandas as pd
import numpy as np
import random
df = pd.read_excel('GWU Test Case Type Tracker_ABCNY.XLSX')
yy=df[df['Student']=='Yingying Liu']
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10915,39520,"ADEN, Mohamoud Abdi",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 13 Mar 1985; POB Garissa, Kenya; nationali..."
10916,39536,"OREKHOV, Yury Yuryevich",individual,RUSSIA-EO14024,-0-,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 30 Mar 1980; POB Almaty, Kazakhstan; natio..."
10917,39537,NDA NORD-DEUTSCHE INDUSTRIEANLAGENBAU GMBH,-0-,RUSSIA-EO14024,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Organization Established Date 27 Jun 2007; Reg...
10918,39538,OPUS ENERGY TRADING LLC,-0-,RUSSIA-EO14024,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Organization Established Date 02 Mar 2022; Reg...
10919,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']
ofac_list

         uid                                        name entity_type
0         36                      AEROCARIBBEAN AIRLINES        -0-
1        173                   ANGLO-CARIBBEAN CO., LTD.        -0-
2        306                      BANCO NACIONAL DE CUBA        -0-
3        424                          BOUTIQUE LA MAISON        -0-
4        475                                CASA DE CUBA        -0-
...      ...                                         ...         ...
10915  39520                         ADEN, Mohamoud Abdi  individual
10916  39536                     OREKHOV, Yury Yuryevich  individual
10917  39537  NDA NORD-DEUTSCHE INDUSTRIEANLAGENBAU GMBH        -0-
10918  39538                     OPUS ENERGY TRADING LLC        -0-
10919                                               NaN         NaN

[10920 rows x 3 columns]

In [3]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [4]:
zhonglei={}
for index,row in yy.iterrows():
    uid = row['UID']
    theme = row['Theme']
    category = row['Category'].strip()
    sub_category = row['Subcategory']
    entity = row['Entity Type']
    if entity == 'Individual': 
        key = theme+'/'+category+'/'+sub_category
        value = uid+'/'+entity
        zhonglei[key]=value
print(len(zhonglei))
print(zhonglei)

35
{'Names where Name Parts are Modified/Character Addition/1 Character addition at the beginning': 'UID-179/Individual', 'Names where Name Parts are Modified/Character Addition/1 Character addition at the end': 'UID-182/Individual', 'Names where Name Parts are Modified/Character Addition/1 Character addition at the middle': 'UID-185/Individual', 'Names where Name Parts are Modified/Character Addition/Very Short Name': 'UID-189/Individual', 'Names where Name Parts are Modified/Character Removal in the Middle of a Name Part/1 character removal at the middle': 'UID-192/Individual', 'Names where Name Parts are Modified/Character Replaced by Number/>2 Letters replaced by numbers - different name part': 'UID-197/Individual', 'Names where Name Parts are Modified/Character Replaced by Number/>2 Letters Replaced by Numbers - same name part': 'UID-200/Individual', 'Names where Name Parts are Modified/Character Replaced by Number/1 Letter Replaced by Number': 'UID-203/Individual', 'Names where Name Parts are Modified/Character Replaced by Number/2 Letters replaced by numbers - different name part': 'UID-206/Individual', 'Names where Name Parts are Modified/Character Replaced by Number/2 Letters Replaced by Numbers - same name part': 'UID-209/Individual', 'Name Part Variations/Initials/> 2 Middle Name initial': 'UID-135/Individual', 'Name Part Variations/Initials/1 Middle Name initial': 'UID-136/Individual', 'Name Part Variations/Initials/2 Middle Name Initial': 'UID-137/Individual', 'Name Part Variations/Initials/All given name initials (First & Middle)': 'UID-138/Individual', 'Name Part Variations/Initials/First and Last name initial': 'UID-141/Individual', 'Name Part Variations/Initials/First Name initial': 'UID-142/Individual', 'Name Part Variations/Initials/Last name initial': 'UID-143/Individual', 'Name Part Variations/Initials/Middle and Last Name Initial': 'UID-144/Individual', 'Different Name Parts/Last Name/1 Last Name difference': 'UID-118/Individual', 'Different Name Parts/Last Name/All last name difference': 'UID-119/Individual', 'Different Name Parts/Middle Name/>2 Middle Names difference': 'UID-121/Individual', 'Different Name Parts/Middle Name/1 Middle Name difference': 'UID-122/Individual', 'Different Name Parts/Middle Name/2 Middle Names difference': 'UID-123/Individual', 'Name Part Variations/Name Part Abbreviation/First and middle name abbreviation': 'UID-151/Individual', 'Name Part Variations/Name Part Abbreviation/First name abbreviation': 'UID-152/Individual', 'Name Part Variations/Name Part Abbreviation/Middle name abbreviation': 'UID-153/Individual', 'Name Part Variations/Name variation in different language/First name ': 'UID-154/Individual', 'Name Part Variations/Name variation in different language/Middle name': 'UID-155/Individual', 'Name Part Variations/Name variation in same language/Middle name variation - same language': 'UID-156/Individual', 'Different Name Parts/Prefix/> 2 Prefixes difference': 'UID-125/Individual', 'Different Name Parts/Prefix/1 Prefix difference': 'UID-126/Individual', 'Different Name Parts/Prefix/2 Prefixes difference': 'UID-127/Individual', 'Different Name Parts/Qualifier/1 Qualifier difference': 'UID-128/Individual', 'Different Name Parts/Suffix/1 Suffix difference': 'UID-129/Individual', 'Different Name Parts/Title/Title difference': 'UID-130/Individual'}

In [5]:
def Character_Addition(sentence,mode):
    random_list = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    if mode == 'begin':
        word[0]=random.choice(random_list)+word[0]
    elif mode == 'end':
        word[1]=word[1]+random.choice(random_list)
    else:
        word[0]=word[0]+random.choice(random_list)
    return word[0]+' '+word[1]

In [6]:
def character_removal(sentence):
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    word[0]=word[0][0:len(word[0])-1]
    return word[0]+' '+word[1]

In [7]:
def character_replace_by_number(sentence,num,mode):
    num_list = ['1','2','3','4','5','6','7','8','9','0']
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    word = ' '.join(word).split()
    if mode == 'dif':
        idx_index = [i for i in range(len(word))]
        idx = random.choices(idx_index,k=num)
        for i in idx:
            temp = list(word[i])
            temp[random.randint(0,len(temp)-1)]=random.choice(num_list)
            word[i]=''.join(temp)
    else:
        
        idx = random.randint(0,len(word)-1)
        while len(word[idx])<=num:
            idx = random.randint(0,len(word)-1)
        idx_index = [i for i in range(len(word[idx]))]
        temp = list(word[idx])
        idx2 = random.choices(idx_index,k=num)
        for i in idx2:
            temp[i]=random.choice(num_list)
        word[idx]=''.join(temp)
        
    return ' '.join(word)

In [8]:
from curses.ascii import isalpha


def Initials(sentence,mode):
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    word = ' '.join(word).split()
    if mode == 'middle':
        for i in range(1,len(word)-1):
            if word[i][0].isalpha():
                word[i]=word[i][0]+'.'
            else:
                word[i]=word[i][0:2]+'.'
    elif mode == 'fam':
        for i in range(0,len(word)-1):
            if word[i][0].isalpha():
                word[i]=word[i][0]+'.'
            else:
                word[i]=word[i][0:2]+'.'
    elif mode =='fal':
        if word[0][0].isalpha():
            word[0]=word[0][0]+'.'
        else:
            word[0]=word[0][0:2]+'.'
        
        if word[len(word)-1][0].isalpha():
            word[len(word)-1]=word[len(word)-1][0]+'.'
        else:
            word[len(word)-1]=word[len(word)-1][0:2]+'.'
    elif mode == 'f':
        if word[0][0].isalpha():
            word[0]=word[0][0]+'.'
        else:
            word[0]=word[0][0:2]+'.'
    elif mode == 'l':
        if word[len(word)-1][0].isalpha():
            word[len(word)-1]=word[len(word)-1][0]+'.'
        else:
            word[len(word)-1]=word[len(word)-1][0:2]+'.'
    elif mode == 'mal':
        for i in range(1,len(word)):
            if word[i][0].isalpha():
                word[i]=word[i][0]+'.'
            else:
                word[i]=word[i][0:2]+'.'
    return ' '.join(word)

In [2]:
# ! pip install RandomWords

from random_words import RandomWords
def last_name(sentence,mode):
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    rw = RandomWords()
    temp = word[1].split()
    if mode == '1':
        temp[len(temp)-1]=rw.random_words(count=1)[0].upper()
    else:
        for i in range(0,len(temp)):
            temp[i]=rw.random_words(count=1)[0].upper()
    return word[0]+' '+' '.join(temp)

# print(last_name("Pelaez Lopez, John Jairo",'all'))

JOHN JAIRO TWINS THERMOCOUPLE

In [10]:

def middle_name(sentence,num):
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    word = ' '.join(word).split()
    rw = RandomWords()
    random_list = [i for i in range(1,len(word)-1)]
    idx = random.choices(random_list,k=num)
    for i in idx:
        word[i]=rw.random_words(count=1)[0].upper()
    return ' '.join(word)

In [11]:
def npart_abb(sentence,mode):
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    word = ' '.join(word).split()
    if mode =='fam':
        for i in range(0,len(word)-1):
            idx = random.randint(1,len(word[i])-1)
            word[i]=word[i][0:idx]
    elif mode == 'f':
        idx = random.randint(1,len(word[0])-1)
        word[0]=word[0][0:idx]
    elif mode == 'm':
        for i in range(1,len(word)-1):
            idx = random.randint(1,len(word[i])-1)
            word[i]=word[i][0:idx]
    return ' '.join(word)

In [12]:
#TODO: add more functions
def name_var_dif(sentence,mode):
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    if mode =='f':
        return word[0]+' '+word[1]
    elif mode == 'm':
        return word[0]+' '+word[1]

In [13]:
#TODO: add more functions
def name_var_same(sentence):
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    return word[0]+ ' ' +word[1]

In [14]:
#TODO: add more functions
def is_prefix(sentence,mode):
    #check conditions
    return True
def prefix(sentence,num):
    return sentence

In [15]:
def is_qualifier(sentence):
    #check conditions
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    word = ' '.join(word).split()
    for i in word:
        if i[len(i)-1] == '.':
            return True
    return False

def qualifier(sentence):
    random_list = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    word = ' '.join(word).split()
    for i in range(0,len(word)):
        if word[i][len(word[i])-1] == '.':
            word[i]=''.join(random.choices(random_list,k=len(word[i])-1))+'.'
            break
    return ' '.join(word)

In [16]:
def suffix(sentence):
    word = sentence.upper().split(',')
    word[1]=word[1].strip()
    word[0],word[1]=word[1],word[0]
    word = ' '.join(word).split()
    rw = RandomWords()
    return ' '.join(word)+' '+rw.random_words(count=1)[0].upper()

In [17]:
def is_title(sentence):
    word= sentence.upper().split(',')
    word[1]=word[1].strip()
    return (len(word[1].split()) == 1 and len(word[0].split()) == 1)
    
def title(sentence):
    word = sentence.upper().split(',')
    word[0],word[1]=word[1],word[0]
    word = ' '.join(word).split()
    rw = RandomWords()
    return rw.random_words(count=1)[0].upper()+' '+word[1]

In [18]:
def get_sample(ofac_list,theme,category,sub_category,entity):
    ofac_list_sample = ofac_list[(ofac_list.entity_type == entity)].sample(n=4000)
    res = []
    for index,row in ofac_list_sample.iterrows():
        name = row['name']
        uid = row['uid']
        if entity == 'individual':
            if category.lower() =='character addition':
                res.append(uid)
            elif category.lower() =='character removal in the middle of a name part':
                res.append(uid)
            elif category.lower() == 'character replaced by number':
                word = name.split()
                if sub_category[0]=='>':
                    if len(word)>=3:
                        res.append(uid)
                else:
                    res.append(uid)
            elif category.lower() == 'initials':
                word = name.split(',')
                word = ' '.join(word).split()
                if sub_category[0]=='>':
                    if len(word)-2>2:
                        res.append(uid)
                elif sub_category[0]=='1':
                    if len(word)-2==1:
                        res.append(uid)
                elif sub_category[0]=='2':
                    if len(word)-2==2:
                        res.append(uid)
                else:
                    res.append(uid)
            elif category.lower() == 'last name':
                if sub_category[0]=='1':
                    res.append(uid)
                else:
                    word = name.split(',')
                    word = word[0].split()
                    if len(word)>1:
                        res.append(uid)
            elif category.lower() == 'middle name':
                word = name.split(',')[1].strip().split()
                if sub_category[0]=='>':
                    if len(word)-1>2:
                        res.append(uid)
                elif sub_category[0]=='1':
                    if len(word)-1>=1:
                        res.append(uid)
                elif sub_category[0]=='2':
                    if len(word)-1>=2:
                        res.append(uid)
            elif category.lower() == 'name part abbreviation':
                res.append(uid)
            elif category.lower() == 'name variation in different language':
                res.append(uid)
            elif category.lower() == 'name variation in same language':
                res.append(uid)
            elif category.lower() == 'prefix':
                if is_prefix(name,sub_category):
                    res.append(uid)
            elif category.lower() == 'qualifier':
                if is_qualifier(name):
                    res.append(uid)
            elif category.lower() == 'suffix':
                res.append(uid)
            elif category.lower() == 'title':
                if is_title(name):
                    res.append(uid)
        if len(res)==10:
            break
    print("sample ",category,' ',sub_category ," ",len(res))
    return res

In [19]:
def func(key,value):
    uid,entity = value.split('/')
    theme,category,sub_category = key.split('/')
    # print(theme,'/',category,'/',sub_category,'/',entity)
    # Getting samples
    sample_uid = get_sample(ofac_list,theme,category,sub_category,entity.lower())
    # print(sample_uid,'       ',sub_category)
    ofac_list_sampled = ofac_list[ofac_list['uid'].isin(sample_uid)]
    for index,row in ofac_list_sampled.iterrows():
        ofac_uid = row['uid']
        ofac_name = row['name']
        # print(category.lower())
        final_test_name=None
        if category.lower() == 'character addition':
            if sub_category == '1 Character addition at the beginning':
                final_test_name = Character_Addition(ofac_name,'begin')
            elif sub_category == '1 Character addition at the end':
                final_test_name = Character_Addition(ofac_name,'end')
            else:
                final_test_name = Character_Addition(ofac_name,'middle')
        elif category.lower() == 'character removal in the middle of a name part':
            final_test_name = character_removal(ofac_name)
        elif category.lower() == 'character replaced by number':
            if sub_category == '>2 Letters replaced by numbers - different name part':
                final_test_name = character_replace_by_number(ofac_name,3,'dif')
            elif sub_category == '>2 Letters Replaced by Numbers - same name part':
                final_test_name = character_replace_by_number(ofac_name,3,'same')
            elif sub_category == '1 Letter Replaced by Number':
                final_test_name = character_replace_by_number(ofac_name,1,'same')
            elif sub_category == '2 Letters replaced by numbers - different name part':
                final_test_name = character_replace_by_number(ofac_name,2,'dif')
            else:
                final_test_name = character_replace_by_number(ofac_name,2,'same')
        elif category.lower() == 'initials':
            if sub_category == '> 2 Middle Name initial':
                final_test_name = Initials(ofac_name,'middle')
            elif sub_category == '1 Middle Name initial':
                final_test_name = Initials(ofac_name,'middle')
            elif sub_category == '2 Middle Name Initial':
                final_test_name = Initials(ofac_name,'middle')
            elif sub_category == 'First Name initial':
                final_test_name = Initials(ofac_name,'f')
            elif sub_category == 'Last name initial':
                final_test_name = Initials(ofac_name,'l')
            elif sub_category == 'First and Last name initial':
                final_test_name = Initials(ofac_name,'fal')
            elif sub_category == 'All given name initials (First & Middle)':
                final_test_name = Initials(ofac_name,'all')
            elif sub_category == 'Middle and Last Name Initial':
                final_test_name = Initials(ofac_name,'mal')
        elif category.lower() == 'last name':
            if sub_category[0] == '1':
                final_test_name = last_name(ofac_name,'1')
            else:
                final_test_name = last_name(ofac_name,'all')
        elif category.lower() == 'middle name':
            if sub_category[0] == '>':
                final_test_name = middle_name(ofac_name,3)
            elif sub_category[0] == '1':
                final_test_name = middle_name(ofac_name,1)
            elif sub_category[0] == '2':
                final_test_name = middle_name(ofac_name,2)
        elif category.lower() == 'name part abbreviation':
            if sub_category == 'First and middle name abbreviation':
                final_test_name = npart_abb(ofac_name,'fam')
            elif sub_category == 'First name abbreviation':
                final_test_name = npart_abb(ofac_name,'f')
            else:
                final_test_name = npart_abb(ofac_name,'m')
        elif category.lower() == 'name variation in different language':
            if sub_category == 'First name ':
                final_test_name = name_var_dif(ofac_name,'f')
            else:
                final_test_name = name_var_dif(ofac_name,'m')
        elif category.lower() == 'name variation in same language':
            final_test_name = name_var_same(ofac_name)
        elif category.lower() == 'prefix':
            if sub_category[0]=='>':
                final_test_name = prefix(ofac_name,3)
            elif sub_category[0]=='1':
                final_test_name = prefix(ofac_name,1)
            elif sub_category[0]=='2':
                final_test_name = prefix(ofac_name,2)
        elif category.lower() == 'qualifier':
            final_test_name = qualifier(ofac_name)
        elif category.lower() == 'suffix':
            final_test_name = suffix(ofac_name)
        elif category.lower() == 'title':
            final_test_name = title(ofac_name)
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name]

In [20]:
for key,value in zhonglei.items():
    func(key,value)

sample  Character Addition   1 Character addition at the beginning   10
sample  Character Addition   1 Character addition at the end   10
sample  Character Addition   1 Character addition at the middle   10
sample  Character Addition   Very Short Name   10
sample  Character Removal in the Middle of a Name Part   1 character removal at the middle   10
sample  Character Replaced by Number   >2 Letters replaced by numbers - different name part   10
sample  Character Replaced by Number   >2 Letters Replaced by Numbers - same name part   10
sample  Character Replaced by Number   1 Letter Replaced by Number   10
sample  Character Replaced by Number   2 Letters replaced by numbers - different name part   10
sample  Character Replaced by Number   2 Letters Replaced by Numbers - same name part   10
sample  Initials   > 2 Middle Name initial   10
sample  Initials   1 Middle Name initial   10
sample  Initials   2 Middle Name Initial   10
sample  Initials   All given name initials (First & Middle)   10
sample  Initials   First and Last name initial   10
sample  Initials   First Name initial   10
sample  Initials   Last name initial   10
sample  Initials   Middle and Last Name Initial   10
sample  Last Name   1 Last Name difference   10
sample  Last Name   All last name difference   10
sample  Middle Name   >2 Middle Names difference   10
sample  Middle Name   1 Middle Name difference   10
sample  Middle Name   2 Middle Names difference   10
sample  Name Part Abbreviation   First and middle name abbreviation   10
sample  Name Part Abbreviation   First name abbreviation   10
sample  Name Part Abbreviation   Middle name abbreviation   10
sample  Name variation in different language   First name    10
sample  Name variation in different language   Middle name   10
sample  Name variation in same language   Middle name variation - same language   10
sample  Prefix   > 2 Prefixes difference   10
sample  Prefix   1 Prefix difference   10
sample  Prefix   2 Prefixes difference   10
sample  Qualifier   1 Qualifier difference   10
sample  Suffix   1 Suffix difference   10
sample  Title   Title difference   10

In [21]:
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-179,Names where Name Parts are Modified,Character Addition,1 Character addition at the beginning,Individual,UID-179 - 1205,9587,"HUSSEIN, Mazen Ali",QMAZEN ALI HUSSEIN
1,UID-179,Names where Name Parts are Modified,Character Addition,1 Character addition at the beginning,Individual,UID-179 - 1398,10271,"ALVAREZ DEL RIO, Fredy de Jesus",GFREDY DE JESUS ALVAREZ DEL RIO
2,UID-179,Names where Name Parts are Modified,Character Addition,1 Character addition at the beginning,Individual,UID-179 - 1472,10420,"BARRERA RIOS, Victoria Eugenia",HVICTORIA EUGENIA BARRERA RIOS
3,UID-179,Names where Name Parts are Modified,Character Addition,1 Character addition at the beginning,Individual,UID-179 - 4553,20244,"KHURI, Imad Mtanyus",NIMAD MTANYUS KHURI
4,UID-179,Names where Name Parts are Modified,Character Addition,1 Character addition at the beginning,Individual,UID-179 - 5044,22014,"AL-JANAN, Sulsubayla",ZSULSUBAYLA AL-JANAN
...,...,...,...,...,...,...,...,...,...
345,UID-130,Different Name Parts,Title,Title difference,Individual,UID-130 - 4800,21225,"KOZHENKOVA, Irina",CHOKE KOZHENKOVA
346,UID-130,Different Name Parts,Title,Title difference,Individual,UID-130 - 4873,21560,"ZARGARI, Ghodrat",HERE ZARGARI
347,UID-130,Different Name Parts,Title,Title difference,Individual,UID-130 - 7109,26937,"ZIRAHI, Ramezan",SUBDIVISION ZIRAHI
348,UID-130,Different Name Parts,Title,Title difference,Individual,UID-130 - 8091,30243,"BASSIL, Gibran",MOTORS BASSIL
349,UID-130,Different Name Parts,Title,Title difference,Individual,UID-130 - 8398,31194,"AL-SA'ADI, Mansur",RESPONSES AL-SA'ADI