In [1]:
import pandas as pd
import numpy as np

In [2]:
test_case=pd.read_csv('/Users/zouwenyuan/Desktop/final_test_cases.csv')
test_case

,Unnamed: 0,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,0,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 217,6936,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA
1,1,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 6782,26214,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP."
2,2,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 5237,22284,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY
3,3,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 2858,15188,RANCHO LA HERRADURA,RANCHO LA HERRADURA
4,4,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7239,27233,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A."
...,...,...,...,...,...,...,...,...,...,...
4622,814,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 4411,19589,CHONG RIM 2,CHONG RIM priority cushion 2
4623,815,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 5475,23162,KUM SONG 7,KUM reservists transmittal SONG 7
4624,816,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 5476,23163,KUM UN SAN 3,KUM seesaw UN SAN buckles 3
4625,817,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 5787,23733,SAM JONG 1,SAM energizer comment JONG 1
4626,818,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 6250,25314,SHAHR E KORD,SHAHR mills master E KORD

In [3]:
#test_case['Test Case Name'].isnull()
test_case[test_case['Test Case Name'].isnull()].index.tolist()

[476]

In [4]:
test_case.drop([476], axis=0, inplace=True)

In [5]:
test_case[test_case['Test Case Name'].isnull()].index.tolist()

[]

In [6]:
test_case['Match Type']='Fuzzy Match'
test_case

,Unnamed: 0,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name,Match Type
0,0,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 217,6936,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,Fuzzy Match
1,1,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 6782,26214,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",Fuzzy Match
2,2,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 5237,22284,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,Fuzzy Match
3,3,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 2858,15188,RANCHO LA HERRADURA,RANCHO LA HERRADURA,Fuzzy Match
4,4,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7239,27233,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",Fuzzy Match
...,...,...,...,...,...,...,...,...,...,...,...
4622,814,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 4411,19589,CHONG RIM 2,CHONG RIM priority cushion 2,Fuzzy Match
4623,815,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 5475,23162,KUM SONG 7,KUM reservists transmittal SONG 7,Fuzzy Match
4624,816,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 5476,23163,KUM UN SAN 3,KUM seesaw UN SAN buckles 3,Fuzzy Match
4625,817,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 5787,23733,SAM JONG 1,SAM energizer comment JONG 1,Fuzzy Match
4626,818,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 6250,25314,SHAHR E KORD,SHAHR mills master E KORD,Fuzzy Match

In [7]:
#test_names=test_case[['Original Name','Test Case Name']]
#test_names

In [8]:
false_match_case=pd.read_csv('/Users/zouwenyuan/Desktop/ABCNY-PY/false_match_cases.csv')
false_match_case

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 7516,28230,CONSORCIO VENEZOLANO DE INDUSTRIAS AERONAUTICA...,"BASOVA, Lidia Aleksandrovna"
1,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 6090,24757,"HASSAN, Hameed ul",THAINGUI S.A.L. OFFSHORE
2,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 4524,20154,"GALLON ARISTIZABAL, Mariana",200G PSA HOLDINGS LLC
3,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 7344,27587,"ESSA, Salim","CARRENO ESCOBAR, Pedro Miguel"
4,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 9846,35919,TIPOGRAFIYA IRKUT,P.B. SADR CO.
...,...,...,...,...,...,...,...,...,...
9247,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 1578,10626,"AGUIRRE SANCHEZ, Blanca Armida","COMERCIAL DOMELY, S.A. DE C.V"
9248,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 9870,35975,"BORIS, Albert Alexandrovich","HOSSEINI, Mohammad Ali"
9249,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 6664,25959,GHADIR KANI ARIYA,"NETYKSHO, Viktor Borisovich"
9250,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 10922,39359,SWANSEAS PORT SERVICES PTE. LTD.,"HAWRANI, Habib"
9251,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 4019,18272,RUSSIAN AGENCY FOR EXPORT CREDIT AND INVESTMEN...,OPEN JOINT STOCK COMPANY 'KONTSERN IZHMASH'

In [9]:
false_match_case['Match Type']='No Match'
false_match_case

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name,Match Type
0,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 7516,28230,CONSORCIO VENEZOLANO DE INDUSTRIAS AERONAUTICA...,"BASOVA, Lidia Aleksandrovna",No Match
1,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 6090,24757,"HASSAN, Hameed ul",THAINGUI S.A.L. OFFSHORE,No Match
2,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 4524,20154,"GALLON ARISTIZABAL, Mariana",200G PSA HOLDINGS LLC,No Match
3,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 7344,27587,"ESSA, Salim","CARRENO ESCOBAR, Pedro Miguel",No Match
4,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 9846,35919,TIPOGRAFIYA IRKUT,P.B. SADR CO.,No Match
...,...,...,...,...,...,...,...,...,...,...
9247,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 1578,10626,"AGUIRRE SANCHEZ, Blanca Armida","COMERCIAL DOMELY, S.A. DE C.V",No Match
9248,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 9870,35975,"BORIS, Albert Alexandrovich","HOSSEINI, Mohammad Ali",No Match
9249,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 6664,25959,GHADIR KANI ARIYA,"NETYKSHO, Viktor Borisovich",No Match
9250,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 10922,39359,SWANSEAS PORT SERVICES PTE. LTD.,"HAWRANI, Habib",No Match
9251,No Match,Negative Control,No Match,100% false match,Vessel,No Match - 4019,18272,RUSSIAN AGENCY FOR EXPORT CREDIT AND INVESTMEN...,OPEN JOINT STOCK COMPANY 'KONTSERN IZHMASH',No Match

In [10]:
exact_match_case=pd.read_csv('/Users/zouwenyuan/Desktop/ABCNY-PY/exact_match_cases.csv')
exact_match_case

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 103,6330,"NASSER DAVID, Julio Cesar","NASSER DAVID, Julio Cesar"
1,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 1192,9562,"RESTREPO VICTORIA, Maria Teresa","RESTREPO VICTORIA, Maria Teresa"
2,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 3229,15910,PARS AMAYESH SANAAT KISH,PARS AMAYESH SANAAT KISH
3,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 7022,26724,"VISMURADOV, Abuzayed","VISMURADOV, Abuzayed"
4,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 9883,36006,JESTAR SANAT DELIJAN,JESTAR SANAT DELIJAN
...,...,...,...,...,...,...,...,...,...
4621,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 4796,21207,AL-QASIUN,AL-QASIUN
4622,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 2726,13480,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio"
4623,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 9959,36320,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO
4624,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 3549,16709,"KOZAK, Dmitry","KOZAK, Dmitry"
4625,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 8193,30508,"IMIRBAKI, Arken","IMIRBAKI, Arken"

In [11]:
exact_match_case['Match Type']='Exact Match'
exact_match_case

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name,Match Type
0,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 103,6330,"NASSER DAVID, Julio Cesar","NASSER DAVID, Julio Cesar",Exact Match
1,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 1192,9562,"RESTREPO VICTORIA, Maria Teresa","RESTREPO VICTORIA, Maria Teresa",Exact Match
2,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 3229,15910,PARS AMAYESH SANAAT KISH,PARS AMAYESH SANAAT KISH,Exact Match
3,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 7022,26724,"VISMURADOV, Abuzayed","VISMURADOV, Abuzayed",Exact Match
4,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 9883,36006,JESTAR SANAT DELIJAN,JESTAR SANAT DELIJAN,Exact Match
...,...,...,...,...,...,...,...,...,...,...
4621,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 4796,21207,AL-QASIUN,AL-QASIUN,Exact Match
4622,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 2726,13480,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match
4623,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 9959,36320,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match
4624,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 3549,16709,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match
4625,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 8193,30508,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match

In [12]:
#data = pd.concat([test_case, false_match_case], axis=1, join='outer')
df2 = test_case.append(false_match_case, ignore_index=True)
all_data = df2.append(exact_match_case, ignore_index=True)
all_data

,Unnamed: 0,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name,Match Type
0,0.0,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 217,6936,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,Fuzzy Match
1,1.0,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 6782,26214,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",Fuzzy Match
2,2.0,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 5237,22284,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,Fuzzy Match
3,3.0,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 2858,15188,RANCHO LA HERRADURA,RANCHO LA HERRADURA,Fuzzy Match
4,4.0,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7239,27233,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",Fuzzy Match
...,...,...,...,...,...,...,...,...,...,...,...
18499,NaN,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 4796,21207,AL-QASIUN,AL-QASIUN,Exact Match
18500,NaN,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 2726,13480,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match
18501,NaN,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 9959,36320,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match
18502,NaN,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 3549,16709,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match
18503,NaN,Exact Match,Positive Control,Exact Match,100% true match,all,Exact Match - 8193,30508,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match

In [14]:
test_names=all_data[['Original Name','Test Case Name','Test Case ID','Match Type']]
test_names

,Original Name,Test Case Name,Test Case ID,Match Type
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match
...,...,...,...,...
18499,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match
18500,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match
18501,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match
18502,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match
18503,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match

In [15]:
test_names[test_names['Original Name'].isnull()].index.tolist()

[8661, 18404]

In [16]:
test_names.drop([8661,18404], axis=0, inplace=True)

/Users/zouwenyuan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
test_names[test_names['Test Case Name'].isnull()].index.tolist()

[]

In [18]:
test_names.reset_index(drop=True)

,Original Name,Test Case Name,Test Case ID,Match Type
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match
...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match

In [19]:
test_names.to_csv('/Users/zouwenyuan/Desktop/all_test_data.csv', index = False)

In [20]:
#cosine
#leveinshtein
#leveinshtein-fuzzy wuzzy
#Normalized Hamming Distance Score
#Double Metaphone Score
#Jaro-Winkler Score


#fuzzywuzzy?
#Mahalanobis distanceï¼Ÿ

### Leveinshtein Distance: Fuzzy Wuzzy

In [21]:
!pip install fuzzywuzzy
from fuzzywuzzy import fuzz

Requirement already satisfied: fuzzywuzzy in /Users/zouwenyuan/opt/anaconda3/lib/python3.8/site-packages (0.18.0)

In [22]:
leveinshtein_case=pd.read_csv('/Users/zouwenyuan/Desktop/all_test_data.csv')
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match
...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match

In [23]:
leveinshtein_case.loc[:,'Fuzzy Ratio']=''
#test_names.reset_index(drop=True)
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,
...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,

In [24]:
leveinshtein_case[leveinshtein_case['Original Name'].isnull()].index.tolist()

[]

In [25]:
leveinshtein_case[leveinshtein_case['Test Case Name'].isnull()].index.tolist()

[]

In [26]:
#test_names.at[1000,'Fuzzy Ratio']=fuzz.ratio(test_names['Original Name'].iloc[1000], test_names['Test Case Name'].iloc[1000])
#test_names.iloc[1000]

In [27]:
leveinshtein_case.head(8662)

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,
...,...,...,...,...,...
8657,"MEDVEDEVA, Svetlana Vladimirovna","SAMOILENKO, Mykyta Ivanovich",No Match - 10796,No Match,
8658,JSC 33 SHIPYARD,LIMITED LIABILITY COMPANY KASPIYSKAYA ENERGIYA...,No Match - 9893,No Match,
8659,JAHAN DESTINATIONS TRAVEL AND TOURISM LLC,INTERNATIONAL INVESTMENTS HOLDING S.A. DE C.V.,No Match - 7462,No Match,
8660,EXPERT PARTNERS,"ARREDONDO ORTIZ, Carlos Arturo",No Match - 3681,No Match,
8661,MOKRAN LLC,"QAOUK, Nabil",No Match - 8026,No Match,

In [28]:
for i in range(len(leveinshtein_case)):
    leveinshtein_case.at[i,'Fuzzy Ratio']=fuzz.ratio(leveinshtein_case['Original Name'].iloc[i], leveinshtein_case['Test Case Name'].iloc[i])
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100
...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100

In [29]:
df1 = leveinshtein_case.sort_values('Fuzzy Ratio', ascending=False)
df1

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100
15465,COMPANIA AGROINVERSORA HENAGRO LTDA.,COMPANIA AGROINVERSORA HENAGRO LTDA.,Exact Match - 159,Exact Match,100
15413,CATALINA HOLDINGS CORP.,CATALINA HOLDINGS CORP.,Exact Match - 8044,Exact Match,100
15414,TISA KISH,TISA KISH,Exact Match - 6605,Exact Match,100
15415,"PAK, To-Chun","PAK, To-Chun",Exact Match - 3159,Exact Match,100
...,...,...,...,...,...
7226,ALMAHDI ALUMINUM CO.,YV1005,No Match - 7529,No Match,0
12075,"THULSIE, Tony-Lee",FANAMOJ,No Match - 5370,No Match,0
7378,"ALVAREZ CASTRO, Santiago",P-672,No Match - 4523,No Match,0
7461,"YAQUB, Ahmed",EP-MNS,No Match - 2914,No Match,0
5347,"BORODULINA, Svetlana Alekseevna",P-532,No Match - 4576,No Match,0

###  Hamming Distance Score

In [30]:
from scipy.spatial.distance import hamming
from scipy.spatial import distance

In [31]:
hamming_case=pd.read_csv('/Users/zouwenyuan/Desktop/all_test_data.csv')
hamming_case

,Original Name,Test Case Name,Test Case ID,Match Type
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match
...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match

In [32]:
#hamming_case = hamming_case.assign(Hamming_Score = lambda x: (hamming(x['Original Name'],x['Test Case Name'])))
#hamming_case

In [33]:
leveinshtein_case.loc[:,'Hamming Score']=''
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100,
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100,
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100,
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100,
...,...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100,
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100,
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100,
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100,
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,

In [34]:
## Calculating the Hamming Distance between 2 Strings
#original hamming_distance = hamming(list(string1), list(string2)) * len(string1)
for i in range(len(leveinshtein_case)):
    
    str1=leveinshtein_case['Original Name'].iloc[i]
    str2=leveinshtein_case['Test Case Name'].iloc[i]
    Normalized_HD_ = distance.hamming(list(str1), list(str2))
    leveinshtein_case.at[i,'Hamming Score']=Normalized_HD_*len(str1)
leveinshtein_case
#ValueError: The 1d arrays must have equal lengths.

ValueError: The 1d arrays must have equal lengths.

In [ ]:
#df2 = leveinshtein_case.sort_values('Hamming Score', ascending=False)
#df2

### Cosine similarity score
#### Cosine Similarity using Spacy

In [35]:
import string
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
leveinshtein_case.loc[:,'Cosine Similarity']=''
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100,0.0,
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100,0.0,
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100,0.0,
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100,0.0,
...,...,...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100,,
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100,,
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100,,
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100,,
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,,

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
Document1=test_names['Original Name'].iloc[1000]
Document2=test_names['Test Case Name'].iloc[1000]
corpus=[Document1,Document2]
trsfm=vectorizer.fit_transform(corpus)
pd.DataFrame(trsfm.toarray(),columns=vectorizer.get_feature_names(),index=['Document 0','Document 1'])
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(trsfm[0:1], trsfm)[0,1]

In [37]:
## Calculating the cosine distance in two names

for i in range(len(leveinshtein_case)):
    vectorizer = TfidfVectorizer()
    Document1=leveinshtein_case['Original Name'].iloc[i]
    Document2=leveinshtein_case['Test Case Name'].iloc[i]
    corpus=[Document1,Document2]
    trsfm=vectorizer.fit_transform(corpus)
    leveinshtein_case.at[i,'Cosine Similarity']=cosine_similarity(trsfm[0:1], trsfm)[0,1]

leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,1.0
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100,0.0,1.0
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100,0.0,1.0
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100,0.0,1.0
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100,0.0,1.0
...,...,...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100,,1.0
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100,,1.0
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100,,1.0
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100,,1.0
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,,1.0

In [38]:
df3 = leveinshtein_case.sort_values('Cosine Similarity', ascending=False)
df3

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity
15767,JOINT STOCK COMPANY INSTITUTE FOR SCIENTIFIC R...,JOINT STOCK COMPANY INSTITUTE FOR SCIENTIFIC R...,Exact Match - 10740,Exact Match,100,,1.0
18461,ISLAMIC REVOLUTIONARY GUARD CORPS ELECTRONIC W...,ISLAMIC REVOLUTIONARY GUARD CORPS ELECTRONIC W...,Exact Match - 5640,Exact Match,100,,1.0
2184,THE RIYADUS-SALIKHIN RECONNAISSANCE AND SABOTA...,@THE RIYADUS-SALIKHIN RECONNAISSANCE AND SABOT...,UID-327 - 377,Fuzzy Match,99,,1.0
15679,JOINT STOCK COMPANY CENTRAL DESIGN BUREAU FOR ...,JOINT STOCK COMPANY CENTRAL DESIGN BUREAU FOR ...,Exact Match - 9902,Exact Match,100,,1.0
15211,JOINT STOCK COMPANY PRODUCTION ASSOCIATION URA...,JOINT STOCK COMPANY PRODUCTION ASSOCIATION URA...,Exact Match - 10555,Exact Match,100,,1.0
...,...,...,...,...,...,...,...
9197,PAMCHEL TRADING BEIJING CO. LTD.,"KHALIL, Ali Hassan",No Match - 7568,No Match,20,,0.0
9198,MOBIN INTERNATIONAL LIMITED,"SEDAGHATI, Mostafa",No Match - 7885,No Match,27,,0.0
9199,"GURYEV, Andrey Andreevich",SCIENTIFIC-TECHNICAL CENTER FOR ELECTRONIC WAR...,No Match - 10746,No Match,13,,0.0
9200,"ARAUJO PERALTA, Hector Alfonso",ALAXY,No Match - 9354,No Match,17,,0.0
9251,RAHBARAN OMID DARYA SHIP MANAGEMENT CO.,EP-IDF,No Match - 6379,No Match,9,,0.0

### Double Metaphone Score
#### get double metaphone and then calculate fuzzy ratio which is based on levenshtein as double metaphone score

In [39]:
#!pip install Metaphone

In [40]:
!pip install phonetics
import phonetics

Requirement already satisfied: phonetics in /Users/zouwenyuan/opt/anaconda3/lib/python3.8/site-packages (1.0.5)

Document1=test_names['Original Name'].iloc[1000]
Document2=test_names['Test Case Name'].iloc[1000]
code1=phonetics.dmetaphone(test_names['Original Name'].iloc[1000])
code2=phonetics.dmetaphone(test_names['Test Case Name'].iloc[1000])
fuzz.ratio(code1,code2)

In [41]:
##Lets use phonetics to see what the phonetic key using Soundex and Metaphone looks like:

##phonetic algorithm: soundex; 
##Metaphone is also more accurate compared with the Soundex method 
##as it takes into consideration the groups of letters.
leveinshtein_case.loc[:,'Double Metaphone Score']=''
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity,Double Metaphone Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,1.0,
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100,0.0,1.0,
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100,0.0,1.0,
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100,0.0,1.0,
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100,0.0,1.0,
...,...,...,...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100,,1.0,
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100,,1.0,
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100,,1.0,
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100,,1.0,
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,,1.0,

In [42]:
for i in range(len(leveinshtein_case)):
    code1=phonetics.dmetaphone(leveinshtein_case['Original Name'].iloc[i])
    code2=phonetics.dmetaphone(leveinshtein_case['Test Case Name'].iloc[i])                           
    leveinshtein_case.at[i,'Double Metaphone Score']=fuzz.ratio(code1,code2)
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity,Double Metaphone Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,1.0,100
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100,0.0,1.0,100
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100,0.0,1.0,100
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100,0.0,1.0,100
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100,0.0,1.0,100
...,...,...,...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100,,1.0,100
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100,,1.0,100
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100,,1.0,100
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100,,1.0,100
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,,1.0,100

In [43]:
df4 = leveinshtein_case.sort_values('Double Metaphone Score', ascending=False)
df4

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity,Double Metaphone Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,1.0,100
15385,LITOGRAFIA VARON,LITOGRAFIA VARON,Exact Match - 3454,Exact Match,100,,1.0,100
15405,ADOON GENERAL TRADING GIDA SANAYI VE TICARET A...,ADOON GENERAL TRADING GIDA SANAYI VE TICARET A...,Exact Match - 8600,Exact Match,100,,1.0,100
15406,AVIA GROUP NORD LLC,AVIA GROUP NORD LLC,Exact Match - 3604,Exact Match,100,,1.0,100
15407,SIG,SIG,Exact Match - 7190,Exact Match,100,,1.0,100
...,...,...,...,...,...,...,...,...
7037,3A-MGU,PUBLIC JOINT STOCK COMPANY RESEARCH & PRODUCTI...,No Match - 10488,No Match,4,,0.0,20
419,L.D. LANDAU INSTITUTE FOR THEORETICAL PHYSICS ...,,UID-50 - 10852,Fuzzy Match,3,,0.0,20
11289,FEDERAL STATE FINANCED INSTITUTION OF SCIENCE ...,SHOR PARTY,No Match - 10851,No Match,13,,0.0,19
12702,"SHAKERI ASHTIJEH, Mohammad",FEDERAL STATE FINANCED INSTITUTION OF SCIENCE ...,No Match - 10778,No Match,16,,0.0,19
10428,FEDERAL STATE FINANCED INSTITUTION OF SCIENCE ...,"SAJEDINIA, Hossein",No Match - 10849,No Match,12,,0.0,17

### Jaro-Winkler Score
#### Question is that : the lower the Jaroâ€“Winkler distance for two strings is, the more similar the strings are. which is opposite to other distance metrics
"Jaro-Winkler takes into account only matching characters and any required transpositions (swapping of characters). Also it gives more priority to prefix similarity. Levenshtein counts the number of edits to convert one string to another."

In [44]:
!pip install jellyfish
import jellyfish

Requirement already satisfied: jellyfish in /Users/zouwenyuan/opt/anaconda3/lib/python3.8/site-packages (0.9.0)

In [45]:
leveinshtein_case.loc[:,'Jaro-Winkler Score']=''
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity,Double Metaphone Score,Jaro-Winkler Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,1.0,100,
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100,0.0,1.0,100,
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100,0.0,1.0,100,
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100,0.0,1.0,100,
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100,0.0,1.0,100,
...,...,...,...,...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100,,1.0,100,
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100,,1.0,100,
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100,,1.0,100,
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100,,1.0,100,
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,,1.0,100,

In [46]:
name1=leveinshtein_case['Original Name'].iloc[1000]
name2=leveinshtein_case['Test Case Name'].iloc[1000]   
jellyfish.jaro_winkler(name1,name2)

0.9893333333333333

In [47]:
for i in range(len(leveinshtein_case)):
    name1=leveinshtein_case['Original Name'].iloc[i]
    name2=leveinshtein_case['Test Case Name'].iloc[i]                           
    leveinshtein_case.at[i,'Jaro-Winkler Score']=jellyfish.jaro_winkler(name1,name2)
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity,Double Metaphone Score,Jaro-Winkler Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,1.0,100,1.0
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100,0.0,1.0,100,1.0
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100,0.0,1.0,100,1.0
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100,0.0,1.0,100,1.0
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100,0.0,1.0,100,1.0
...,...,...,...,...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100,,1.0,100,1.0
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100,,1.0,100,1.0
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100,,1.0,100,1.0
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100,,1.0,100,1.0
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,,1.0,100,1.0

In [48]:
df5 = leveinshtein_case.sort_values('Jaro-Winkler Score', ascending=False)
df5

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity,Double Metaphone Score,Jaro-Winkler Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,1.0,100,1.0
15465,COMPANIA AGROINVERSORA HENAGRO LTDA.,COMPANIA AGROINVERSORA HENAGRO LTDA.,Exact Match - 159,Exact Match,100,,1.0,100,1.0
15413,CATALINA HOLDINGS CORP.,CATALINA HOLDINGS CORP.,Exact Match - 8044,Exact Match,100,,1.0,100,1.0
15414,TISA KISH,TISA KISH,Exact Match - 6605,Exact Match,100,,1.0,100,1.0
15415,"PAK, To-Chun","PAK, To-Chun",Exact Match - 3159,Exact Match,100,,1.0,100,1.0
...,...,...,...,...,...,...,...,...,...
4477,SONA,grips speeder shoe SONA,UID-532 - 10330,Fuzzy Match,30,,0.379978,69,0.0
9450,P-885,"MAHALLA, Muhammad Mahmud",No Match - 4621,No Match,0,,0.0,59,0.0
4900,"YATSENKO, Viktor",P-532,No Match - 4519,No Match,0,,0.0,62,0.0
4476,OLGA,fallout delimiter platform OLGA,UID-532 - 10324,Fuzzy Match,23,,0.379978,57,0.0
553,"GARCIA ARBOLEDA, Edward",Edwar,UID-68 - 3672,Fuzzy Match,36,,0.0,51,0.0

### Levenshtein Distance Score
##### use Levenshtein.distance() function

In [49]:
!pip install levenshtein

Requirement already satisfied: levenshtein in /Users/zouwenyuan/opt/anaconda3/lib/python3.8/site-packages (0.20.8)
Requirement already satisfied: rapidfuzz<3.0.0,>=2.3.0 in /Users/zouwenyuan/opt/anaconda3/lib/python3.8/site-packages (from levenshtein) (2.13.2)

In [50]:
from Levenshtein import distance

In [51]:
name1=leveinshtein_case['Original Name'].iloc[1000]
name2=leveinshtein_case['Test Case Name'].iloc[1000]   
distance(name1,name2)

4

In [52]:
leveinshtein_case.loc[:,'Levenshtein Distance Score']=''
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity,Double Metaphone Score,Jaro-Winkler Score,Levenshtein Distance Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,1.0,100,1.0,
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100,0.0,1.0,100,1.0,
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100,0.0,1.0,100,1.0,
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100,0.0,1.0,100,1.0,
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100,0.0,1.0,100,1.0,
...,...,...,...,...,...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100,,1.0,100,1.0,
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100,,1.0,100,1.0,
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100,,1.0,100,1.0,
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100,,1.0,100,1.0,
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,,1.0,100,1.0,

In [53]:
for i in range(len(leveinshtein_case)):
    name1=leveinshtein_case['Original Name'].iloc[i]
    name2=leveinshtein_case['Test Case Name'].iloc[i]                           
    leveinshtein_case.at[i,'Levenshtein Distance Score']=distance(name1,name2)
leveinshtein_case

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity,Double Metaphone Score,Jaro-Winkler Score,Levenshtein Distance Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,UID-3 - 217,Fuzzy Match,100,0.0,1.0,100,1.0,0
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",UID-3 - 6782,Fuzzy Match,100,0.0,1.0,100,1.0,0
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,UID-3 - 5237,Fuzzy Match,100,0.0,1.0,100,1.0,0
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,UID-3 - 2858,Fuzzy Match,100,0.0,1.0,100,1.0,0
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",UID-3 - 7239,Fuzzy Match,100,0.0,1.0,100,1.0,0
...,...,...,...,...,...,...,...,...,...,...
18497,AL-QASIUN,AL-QASIUN,Exact Match - 4796,Exact Match,100,,1.0,100,1.0,0
18498,"GONZALEZ PARADA, Juvencio Ignacio","GONZALEZ PARADA, Juvencio Ignacio",Exact Match - 2726,Exact Match,100,,1.0,100,1.0,0
18499,IMENIE TSARGRAD OOO,IMENIE TSARGRAD OOO,Exact Match - 9959,Exact Match,100,,1.0,100,1.0,0
18500,"KOZAK, Dmitry","KOZAK, Dmitry",Exact Match - 3549,Exact Match,100,,1.0,100,1.0,0
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,,1.0,100,1.0,0

In [54]:
df6 = leveinshtein_case.sort_values('Levenshtein Distance Score', ascending=False)
df6

,Original Name,Test Case Name,Test Case ID,Match Type,Fuzzy Ratio,Hamming Score,Cosine Similarity,Double Metaphone Score,Jaro-Winkler Score,Levenshtein Distance Score
7225,"KOMLEV, Vladimir Valerievich",FEDERAL STATE FINANCED INSTITUTION OF SCIENCE ...,No Match - 10828,No Match,8,,0.0,36,0.337302,143
10428,FEDERAL STATE FINANCED INSTITUTION OF SCIENCE ...,"SAJEDINIA, Hossein",No Match - 10849,No Match,12,,0.0,17,0.406972,143
12702,"SHAKERI ASHTIJEH, Mohammad",FEDERAL STATE FINANCED INSTITUTION OF SCIENCE ...,No Match - 10778,No Match,16,,0.0,19,0.44832,139
7312,FEDERAL STATE FINANCED INSTITUTION OF SCIENCE ...,"SAMOILENKO, Mykyta Ivanovich",No Match - 10854,No Match,15,,0.0,30,0.363968,138
9719,FEDERAL GOVERNMENT INSTITUTION PRETRIAL DETENT...,AKTSIONERNOE OBSHCHESTVO AST,No Match - 8443,No Match,26,,0.0,34,0.510739,134
...,...,...,...,...,...,...,...,...,...,...
15256,HEBRON S.A.,HEBRON S.A.,Exact Match - 1020,Exact Match,100,,1.0,100,1.0,0
15255,"DUBINSKY, Oleksandr","DUBINSKY, Oleksandr",Exact Match - 8024,Exact Match,100,,1.0,100,1.0,0
15254,"CALLE SERNA, Luis Enrique","CALLE SERNA, Luis Enrique",Exact Match - 1195,Exact Match,100,,1.0,100,1.0,0
15253,NATIONAL IRANIAN OIL COMPANY,NATIONAL IRANIAN OIL COMPANY,Exact Match - 1792,Exact Match,100,,1.0,100,1.0,0
18501,"IMIRBAKI, Arken","IMIRBAKI, Arken",Exact Match - 8193,Exact Match,100,,1.0,100,1.0,0

In [55]:
leveinshtein_case.to_csv('/Users/zouwenyuan/Desktop/similarity_metrics_new.csv', index = False)