# IMPORT DATA, PACKAGES, AND FUNCTIONS

## import the relevant functions and packages

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ml_dataset.csv')
df

,Original Name,Test Case Name,Test Type,Label
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,Fuzzy Match,Match
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",Fuzzy Match,Match
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,Fuzzy Match,Match
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,Fuzzy Match,Match
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",Fuzzy Match,Match
...,...,...,...,...
18503,GLOBAL AGE LIMITED,"SHAABAN, Bouthaina",Non-Match,Not Match
18504,OBSHCHESTVO S OGRANICHENNOI OTVETSTVENNOSTYU M...,TAMIN KALAYE SABZ ARAS COMPANY,Non-Match,Not Match
18505,"AHMED, Qassim Abdullah Ali",KOREA HAEGUMGANG TRADING CORPORATION,Non-Match,Not Match
18506,JINGHO TECHNOLOGY CO. LIMITED,COMITE' DE BIENFAISANCE ET DE SECOURS AUX PALE...,Non-Match,Not Match
18507,"NHEMA, Chenayaimoyo Dunstan Francis","BHARDWAJ, Anuj",Non-Match,Not Match

In [3]:
score = pd.read_excel('GWU_Final Bridger Scores.xlsx')
score

,index,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name,BRIDGER SCORE
0,0,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 217,6936,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,100
1,1,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 6782,26214,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",100
2,2,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 5237,22284,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,100
3,3,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 2858,15188,RANCHO LA HERRADURA,RANCHO LA HERRADURA,100
4,4,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7239,27233,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",100
...,...,...,...,...,...,...,...,...,...,...,...
4622,4622,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 4411,19589,CHONG RIM 2,CHONG RIM priority cushion 2,82
4623,4623,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 5475,23162,KUM SONG 7,KUM reservists transmittal SONG 7,82
4624,4624,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 5476,23163,KUM UN SAN 3,KUM seesaw UN SAN buckles 3,78
4625,4625,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 5787,23733,SAM JONG 1,SAM energizer comment JONG 1,82
4626,4626,UID-541,Name Additions,Name Part in the Middle,2 name parts added,Vessel,UID-541 - 6250,25314,SHAHR E KORD,SHAHR mills master E KORD,82

In [4]:
score = list(score['BRIDGER SCORE'])
score.extend([100] * 4627)
score.extend([0] * 9254)
len(score)

18508

In [5]:
df['Bridger Score'] = score
df

,Original Name,Test Case Name,Test Type,Label,Bridger Score
0,JAM'YAH TA'AWUN AL-ISLAMIA,JAM'YAH TA'AWUN AL-ISLAMIA,Fuzzy Match,Match,100
1,"GLOBOVISION TELE CA, CORP.","GLOBOVISION TELE CA, CORP.",Fuzzy Match,Match,100
2,KOREAN PEOPLE'S ARMY,KOREAN PEOPLE'S ARMY,Fuzzy Match,Match,100
3,RANCHO LA HERRADURA,RANCHO LA HERRADURA,Fuzzy Match,Match,100
4,"TECHNO ENERGY, S.A.","TECHNO ENERGY, S.A.",Fuzzy Match,Match,100
...,...,...,...,...,...
18503,GLOBAL AGE LIMITED,"SHAABAN, Bouthaina",Non-Match,Not Match,0
18504,OBSHCHESTVO S OGRANICHENNOI OTVETSTVENNOSTYU M...,TAMIN KALAYE SABZ ARAS COMPANY,Non-Match,Not Match,0
18505,"AHMED, Qassim Abdullah Ali",KOREA HAEGUMGANG TRADING CORPORATION,Non-Match,Not Match,0
18506,JINGHO TECHNOLOGY CO. LIMITED,COMITE' DE BIENFAISANCE ET DE SECOURS AUX PALE...,Non-Match,Not Match,0
18507,"NHEMA, Chenayaimoyo Dunstan Francis","BHARDWAJ, Anuj",Non-Match,Not Match,0

In [6]:
df.to_csv('ml_dataset_score.csv', index = False)