In [1]:
import pandas as pd
import numpy as np
import random
#from test_case_generator_functions import separate_words_in_name_2,separate_words_in_name_3, special_characters,alphabet, characters_digital

In [2]:
df = pd.read_excel('GWU Test Case Type Tracker_ABCNY.XLSX')

In [3]:
yy=df[df['Student']=='Yingying Liu']
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10892,39438,"NEJAT, Hossein",individual,IRGC] [IFSR] [IRAN-HR,IRGC Brigadier General,-0-,-0-,-0-,-0-,-0-,-0-,"DOB Mar 1955 to Mar 1956; POB Shiraz, Iran; na..."
10893,39439,"SAJEDINIA, Hossein",individual,IRAN-HR,Deputy Operations Commander,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 21 Mar 1962 to 20 Apr 1962; POB Isfahan, I..."
10894,39440,"RAHIMI, Hossein",individual,IRAN-HR,Police chief of Tehran,-0-,-0-,-0-,-0-,-0-,-0-,DOB Mar 1963 to Mar 1964; POB Markazi Province...
10895,39441,"JAVANI, Yadollah",individual,IRGC] [IFSR] [IRAN-HR,Deputy Political Commander,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 1962; POB Isfahan, Iran; nationality Iran;..."
10896,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']
ofac_list

         uid                       name entity_type
0         36     AEROCARIBBEAN AIRLINES        -0-
1        173  ANGLO-CARIBBEAN CO., LTD.        -0-
2        306     BANCO NACIONAL DE CUBA        -0-
3        424         BOUTIQUE LA MAISON        -0-
4        475               CASA DE CUBA        -0-
...      ...                        ...         ...
10892  39438             NEJAT, Hossein  individual
10893  39439         SAJEDINIA, Hossein  individual
10894  39440            RAHIMI, Hossein  individual
10895  39441           JAVANI, Yadollah  individual
10896                              NaN         NaN

[10897 rows x 3 columns]

In [5]:
ofac_list['entity_type'].value_counts()

individual    5701
-0-           4394
vessel         515
aircraft       286
Name: entity_type, dtype: int64

In [6]:
# ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate Entity
# ofac_list_filtered

In [7]:
# ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate Entity
# ofac_list_sampled = ofac_list_filtered.sample(n = 10)
# ofac_list_sampled

In [250]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [251]:
zhonglei={}
for index,row in yy.iterrows():
    uid = row['UID']
    theme = row['Theme']
    category = row['Category']
    sub_category = row['Subcategory']
    entity = row['Entity Type']
    if entity == 'Entity' and category.lower() =='name part abbreviation': 
        key = theme+'/'+category+'/'+sub_category
        value = uid+'/'+entity
        zhonglei[key]=value
print(len(zhonglei))
print(zhonglei)

3
{'Name Part Variations/Name Part Abbreviation/> 2 name parts abbreviated': 'UID-146/Entity', 'Name Part Variations/Name Part Abbreviation/1 name part abbreviated': 'UID-148/Entity', 'Name Part Variations/Name Part Abbreviation/2 name parts abbreviated': 'UID-150/Entity'}

In [252]:
def article(sentence):
    articles = ['A', 'AN', 'THE', 'AND', 'OF', 'OR', 'IN', 'ON', 'AT']
    word = sentence.split(' ')
    count=0
    for index,w in enumerate(word):
        if w in articles:
            word[index] = np.random.choice(articles)
            count+=1
            
    return ' '.join(word),count

In [253]:
def company(sentence,num):
    random_list=['COMPANY','CORPORATION','INCORPORATED','LIMITED','LLC','LTD','PLC','INC','CO','CORP','CORP.','CORP','CORP']

    word = sentence.split(' ')
    count=0
    for index,w in enumerate(word):
        if count == num:
            break
        word[index] = np.random.choice(random_list)
        count+=1

    return ' '.join(word),count

In [254]:
def character(sentence,pos):
    random_list=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
    word = sentence.split(' ')
    if pos =='begin':
        return np.random.choice(random_list)+sentence
    elif pos == 'end':
        return sentence+np.random.choice(random_list)
    elif pos == 'middle':
        word[len(word)//2] = word[len(word)//2]+np.random.choice(random_list)
        return ' '.join(word)
    elif pos =='short':
        a = np.random.randint(0,len(word))
        word[a] = word[a]+np.random.choice(random_list)
        return ' '.join(word)
    else:
        a = np.random.randint(0,len(word))
        word[a] = word[a]+np.random.choice(random_list)
        b = np.random.randint(0,len(word))
        word[b] = word[b]+np.random.choice(random_list)
        return ' '.join(word)

In [255]:
def removal(sentence,pos):
    word = sentence.split(' ')
    if pos == 'middle':
        id1 = len(word)//2
        id2 = np.random.randint(0,len(word[id1]))
        word[id1]=word[id1].replace(word[id1][id2],'')
        return ' '.join(word)
    else:
        for _ in range(2):
            id1 = np.random.randint(0,len(word))
            id2 = np.random.randint(0,len(word[id1]))
            word[id1]=word[id1].replace(word[id1][id2],'')

        return ' '.join(word)

In [256]:
def replace_number(sentence,num,mode):
    word = sentence.split(' ')
    random_list = ['1','2','3','4','5','6','7','8','9','0']
    if num ==1:
        id1 = np.random.randint(0,len(word))
        id2 = np.random.randint(0,len(word[id1]))
        word[id1]= word[id1].replace(word[id1][id2],np.random.choice(random_list))
        return ' '.join(word)
    else:
        if mode == 'same':
            id1 = np.random.randint(0,len(word))
            for _ in range(num):
                id2 = np.random.randint(0,len(word[id1]))
                word[id1]= word[id1].replace(word[id1][id2],np.random.choice(random_list))
            return ' '.join(word)
        else:
            for _ in range(int(num)):
                id1 = np.random.randint(0,len(word))
                id2 = np.random.randint(0,len(word[id1]))
                word[id1]= word[id1].replace(word[id1][id2],np.random.choice(random_list))
            return ' '.join(word)

In [257]:
def count_comvar(sentence):
    random_list={'co.':'Company','kg':'LLP','company':'CO.','llp':'KG'}
    word = sentence.split(' ')
    count =0
    for i in word:
        if i.lower() in random_list.keys():
            count+=1
    return count

def comvar(sentence,num):
    name_list={'co.':'Company','kg':'LLP','company':'CO.','llp':'KG'}
    word = sentence.split(' ')
    count=0
    for index, i in enumerate(word):
        if i.lower() in name_list.keys():
            word[index] = name_list[i.lower()]
            count+=1
        if count==num:
            break
    return ' '.join(word)

In [258]:
def is_country(sentence):
    random_list = ['china', 'america', 'japan', 'korea', 'india', 'germany', 'france', 'england', 'italy', 'spain', 'canada', 'brazil', 'mexico', 'russia', 'australia', 'new zealand', 'south africa', 'egypt', 'saudi arabia', 'iran', 'iraq', 'syria']
    word = sentence.split(' ')
    for i in word:
        if i.lower() in random_list:
            return True
    return False
    
def comloc(sentence):
    random_list = {'china': 'China', 'america': 'America', 'japan': 'Japan', 'korea': 'Korea', 'india': 'India', 'germany': 'Germany', 'france': 'France', 'england': 'England', 'italy': 'Italy', 'spain': 'Spain', 'canada': 'Canada', 'brazil': 'Brazil', 'mexico': 'Mexico', 'russia': 'Russia', 'australia': 'Australia', 'new zealand': 'New Zealand', 'south africa': 'South Africa', 'egypt': 'Egypt', 'saudi arabia': 'Saudi Arabia', 'iran': 'Iran', 'iraq': 'Iraq', 'syria': 'Syria'}
    country_name =['China', 'America', 'Japan', 'Korea', 'India', 'Germany', 'France', 'England', 'Italy', 'Spain', 'Canada', 'Brazil', 'Mexico', 'Russia', 'Australia', 'New Zealand', 'South Africa', 'Egypt', 'Saudi Arabia', 'Iran', 'Iraq', 'Syria']
    word = sentence.split(' ')
    for index, i in enumerate(word):
        if i.lower() in random_list.keys():
            word[index] = np.random.choice(country_name)
            break
    return ' '.join(word)

In [259]:
#TODO:判断是否是日期
def is_date(sentence,mode):
    """判断是否是日期

    Args:
        sentence (name): origin sentence
        mode (str): EU / US  Date format
    """
    Month_name = ['Janurary','Feburary','March','April','May','June','July','August','September','October','November','December']
    month_dict ={'janurary': 'Janurary', 'feburary': 'Feburary', 'march': 'March', 'april': 'April', 'may': 'May', 'june': 'June', 'july': 'July', 'august': 'August', 'september': 'September', 'october': 'October', 'november': 'November', 'december': 'December'}
    word = sentence.split(' ')

def date_replace(sentence,mode):
    #TODO:将日期替换成US/EU格式
    Month_name = ['Janurary','Feburary','March','April','May','June','July','August','September','October','November','December']
    month_dict ={'janurary': 'Janurary', 'feburary': 'Feburary', 'march': 'March', 'april': 'April', 'may': 'May', 'june': 'June', 'july': 'July', 'august': 'August', 'september': 'September', 'october': 'October', 'november': 'November', 'december': 'December'}

    return sentence

In [260]:
def last_name(sentence):
    word  = sentence.split(' ')
    name_random_list = ['Amy', 'Bob', 'Cathy', 'David', 'Eve', 'Frank', 'Grace', 'Helen',]
    word[len(word)-1]=np.random.choice(name_random_list)
    return ' '.join(word)

In [282]:
def is_abbreviation(sentence,num):
    count=0
    word = sentence.split()
    for i in word:
        a = i.upper()
        if a != i:
            count+=1

    if count>=num:
        return True
    else:
        return False

def name_abbreviation(sentence,num):
    word  = sentence.split()
    for index,i in enumerate(word):
        if i.upper()==i:
            continue
        else:
            id = np.random.randint(2,4)
            word[index]= word[:id].upper()
    return ' '.join(word)

In [283]:
def get_sample(ofac_list,theme,category,sub_category,entity):
    if entity == 'Entity':
        ofac_list_sample = ofac_list[(ofac_list.entity_type == '-0- ')].sample(n=4000)
    else: 
        ofac_list_sample = ofac_list[(ofac_list.entity_type == entity)].sample(n=4000)
    # print(ofac_list_sample)
    res = []
    # 判断Article并生成测试用例
    for index,row in ofac_list_sample.iterrows():
        name = row['name']
        uid = row['uid']
        if entity == 'Entity':
            if category == 'Articles':
                if sub_category == '> 2 Articles difference':
                        
                        name,count = article(name)
                        if count > 2:
                            res.append(uid)
                elif sub_category == '1 Articles difference':
                        name = row['name']
                        uid = row['uid']
                        name,count = article(name)
                        if count == 1:
                            res.append(uid)
                else:
                        name = row['name']
                        uid = row['uid']
                        name,count = article(name)
                        if count == 2:
                            res.append(uid)
            elif category.lower() == 'company designator':
                res.append(uid)
            elif category.lower() == 'character addition':
                res.append(uid)
            elif category.lower() == 'character removal in the middle of a name part':
                res.append(uid)
            elif category.lower() =='character replaced by number':
                res.append(uid)
            elif category.lower() == 'company designator variation':
                count  = count_comvar(name)
                if sub_category == '1 company designator equivalent':
                    if count>=1:
                        res.append(uid)
                else:
                    if count>=2:
                        res.append(uid)
            elif category.lower() == 'company location':
                if is_country(name):
                    res.append(uid)
            elif category.lower() == 'date replacement':
                if sub_category =='String replaced by Date in European Format':
                    if is_date(name,'EU'):
                        res.append(uid)
                else:
                    if is_date(name,'US'):
                        res.append(uid)
            elif category.lower() == 'last name part':
                res.append(uid)
            elif category.lower() == 'name part abbreviation':
                if sub_category =='1 name part abbreviated':
                    if is_abbreviation(name,1):
                        res.append(uid)
                elif sub_category=='2 name parts abbreviated':
                    if is_abbreviation(name,2):
                        res.append(uid)
                else:
                    if is_abbreviation(name,3):
                        res.append(uid)
        if len(res)==10:
            break
    print("sample",len(res))
    return res

In [284]:
def func(key,value):
    uid,entity = value.split('/')
    theme,category,sub_category = key.split('/')
    
    # 找到对应的test case
    sample_uid = get_sample(ofac_list,theme,category,sub_category,entity)
    # print(sample_uid,'       ',sub_category)
    ofac_list_sampled = ofac_list[ofac_list['uid'].isin(sample_uid)]
    # print(ofac_list_sampled)
    for index,row in ofac_list_sampled.iterrows():
        ofac_uid = row['uid']
        ofac_name = row['name']
        # print(category.lower())
        final_test_name=None
        if category == 'Articles':
            final_test_name = article(ofac_name)[0]

        elif category.lower() == 'company designator':
            if sub_category == '> 2 Company Designators difference':
                final_test_name = company(ofac_name,3)
            elif sub_category == '1 Company Designator difference':
                final_test_name = company(ofac_name,1)
            else:
                final_test_name = company(ofac_name,2)
        elif category.lower() == 'character addition':
            if sub_category == '1 Character addition at the beginning':
                final_test_name = character(ofac_name,'begin')
            elif sub_category == '1 Character addition at the end':
                final_test_name = character(ofac_name,'end')
            elif sub_category == '1 Character addition at the middle':
                final_test_name = character(ofac_name,'middle')
            elif sub_category == 'Very Short Name':
                final_test_name = character(ofac_name,'short')
            else:
                final_test_name = character(ofac_name,'random')

        elif category.lower() == 'character removal in the middle of a name part':
            if sub_category == '1 character removal at the middle':
                final_test_name = removal(ofac_name,'middle')
            else:
                final_test_name = removal(ofac_name,'random')
        elif category.lower() == 'character replaced by number':
            if sub_category == '>2 Letters replaced by numbers - different name part':
                final_test_name = replace_number(ofac_name,3,'different')
            elif sub_category == '>2 Letters Replaced by Numbers - same name part':
                final_test_name = replace_number(ofac_name,3,'same')
            elif sub_category == '1 Letter Replaced by Number':
                final_test_name = replace_number(ofac_name,1,'same')
            elif sub_category =='2 Letters replaced by numbers - different name part':
                final_test_name = replace_number(ofac_name,2,'different')
            elif sub_category =='2 Letters Replaced by Numbers - same name part':
                final_test_name = replace_number(ofac_name,2,'same')
        elif category.lower() == 'company designator variation':
            if sub_category == '1 company designator equivalent':
                final_test_name = comvar(ofac_name,1)
            else:
                final_test_name = comvar(ofac_name,2)
        elif category.lower() == 'company location':
            final_test_name = comloc(ofac_name)
        elif category.lower() == 'date replacement':
            if sub_category =='String replaced by Date in European Format':
                final_test_name = date_replace(ofac_name,'EU')
            else:
                final_test_name = date_replace(ofac_name,'US')
        elif category.lower() == 'last name part':
            final_test_name = last_name(ofac_name)
        elif category.lower() == 'name part abbreviation':
            if sub_category =='1 name part abbreviated':
                final_test_name = name_abbreviation(ofac_name,1)
            elif sub_category=='2 name parts abbreviated':
                final_test_name = name_abbreviation(ofac_name,2)
            else:
                final_test_name = name_abbreviation(ofac_name,3)
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name]

In [285]:
for key,value in zhonglei.items():
    func(key,value)

sample 0
sample 0
sample 0

In [286]:
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []