In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-565' 
theme = 'Names where Name Parts are Modified'
category = 'Phonetic'
sub_category = '2 phonetic variations - same name part'
entity_type = 'Vessel'

# ********************

In [2]:
import random

def similar_letter(letter):
    similar_phonetic_dict = {
        'A' : ['E','U'],
        'B' : ['P','V'],
        'C' : ['S','Z'],
        'D' : 'T',
        'E' : 'A',
        'F' : 'V',
        'G' : 'K',
        'H' : ['F','J','X'],
        'I' : 'Y',
        'J' : ['G','H'],
        'K' : ['G','X'],
        'L' : 'R',
        'M' : 'N',
        'N' : 'M',
        'O' : ['U','A','E'],
        'P' : ['F','B','V'],
        'Q' : 'K',
        'R' : 'L',
        'S' : ['X','C'],
        'T' : 'D',
        'U' : ['O','W'],
        'V' : 'F',
        'W' : ['V', 'Y'],
        'X' : 'S',
        'Y' : 'I',
        'Z' : 'C'
    }
    new_letter = similar_phonetic_dict[letter][random.randrange(0,len(similar_phonetic_dict[letter]))]
    return new_letter

In [11]:
def phonetic(phrase,k):
    for num in random.sample(range(0, len(phrase)),k):
        phrase = phrase[:num] + similar_letter(phrase[num]) + phrase[num + 1:]
    return phrase

In [12]:
phonetic('SDFUAEHFLIAEUH',2)

'XDFUAEHFLIAEUJ'

In [4]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [13]:

ofac_split = ofac_list["name"].str.split(" ", n = 2, expand = True)

# making separate first name column from new data frame
ofac_list["First Name"]= ofac_split[0]
 
# making separate middle name column from new data frame
#ofac_list["Middle Name"]= ofac_split[1]

# making separate middle name column from new data frame
ofac_list["Last Name"]= ofac_split[1]

# making separate middle name column from new data frame
#ofac_list["Last Name"]= ofac_split[3]


ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')&( ofac_list["First Name"].str.len()>4)] 


ofac_list_sampled = ofac_list_filtered.sample(n = 10)

ofac_list_sampled

<ipython-input-13-31ab13b014ce>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list["First Name"]= ofac_split[0]
<ipython-input-13-31ab13b014ce>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list["Last Name"]= ofac_split[1]

         uid             name entity_type First Name Last Name
3224   15905        MARIA III      vessel      MARIA       III
7411   28014    MANUELA SAENZ      vessel    MANUELA     SAENZ
6298   25375           DELICE      vessel     DELICE      None
6295   25372            BEHTA      vessel      BEHTA      None
10063  36696        SPARTA II      vessel     SPARTA        II
6196   25257           DORITA      vessel     DORITA      None
2771   15058          HILDA I      vessel      HILDA         I
10317  37107  VALENTIN EMIROV      vessel   VALENTIN    EMIROV
6205   25266          SABRINA      vessel    SABRINA      None
5991   24509           NEPTUN      vessel     NEPTUN      None

In [17]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [18]:
for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        if number_of_words==1:
            final_test_name=phonetic(name_words[0],2)
        else:
            test=''
            for i in range(1,number_of_words):
                test=test+name_words[i]+' '
            
            final_test_name=phonetic(name_words[0],2)+' '+test
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 3224,15905,MARIA III,MALIE III
1,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 7411,28014,MANUELA SAENZ,MAMOELA SAENZ
2,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 6298,25375,DELICE,DELYSE
3,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 6295,25372,BEHTA,PEHTE
4,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 10063,36696,SPARTA II,SPELTA II
5,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 6196,25257,DORITA,DORYTU
6,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 2771,15058,HILDA I,HYLTA I
7,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 10317,37107,VALENTIN EMIROV,FALENTYN EMIROV
8,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 6205,25266,SABRINA,XABRINE
9,UID-565,Names where Name Parts are Modified,Phonetic,2 phonetic variations - same name part,Vessel,UID-565 - 5991,24509,NEPTUN,MEPTWN