In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-588' 
theme = 'Names where Name Parts are Modified'
category = 'Typos'
sub_category = '2 Typos same name part - Adjacent'
entity_type = 'Vessel'

# ********************

In [24]:
import random
import string
def typos(phrase,k):
    alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M',
                'N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
    for num in random.sample(range(0, len(phrase)-1),k):
        a=random.choice(string.ascii_uppercase)
        b=random.choice(string.ascii_uppercase)
        if phrase[num]== a or phrase[num+1] == b:
            c = alphabet.index(a)
            alphabet.pop(c)
            a1=random.choice(alphabet)
            d = alphabet.index(b)
            alphabet.pop(d)
            b1=random.choice(alphabet)
            phrase = phrase[:num] + a1 + b1 + phrase[num + 2:]
        else:
            phrase = phrase[:num] + a + b + phrase[num + 2:]

    return phrase

In [3]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [11]:
ofac_split = ofac_list["name"].str.split(" ", n = 1, expand = True)


# making separate first name column from new data frame
ofac_list["First Name"]= ofac_split[0]
 
# making separate middle name column from new data frame
ofac_list["Middle Name"]= ofac_split[1]

# making separate last name column from new data frame

#ofac_list["Last Name"]= ofac_split[2]




ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')& (ofac_list['First Name'].str.len()>2)] # only evaluate vessel


ofac_list_filtered = ofac_list_filtered[(ofac_list_filtered.name.str.count(' ') >1)]


ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

<ipython-input-11-b2a73f78e2a0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list["First Name"]= ofac_split[0]
<ipython-input-11-b2a73f78e2a0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list["Middle Name"]= ofac_split[1]

        uid                name entity_type First Name   Middle Name
5813  23780         DONG FENG 6      vessel       DONG        FENG 6
5495  23186     RYE SONG GANG 1      vessel        RYE   SONG GANG 1
6220  25283      IRAN HORMUZ 12      vessel       IRAN     HORMUZ 12
6259  25335      IRAN HORMUZ 22      vessel       IRAN     HORMUZ 22
5493  23184         KANG SONG 1      vessel       KANG        SONG 1
5811  23778       ASIA BRIDGE 1      vessel       ASIA      BRIDGE 1
5619  23427  MARIE DE LOURDES V      vessel      MARIE  DE LOURDES V
5806  23771           HAO FAN 6      vessel        HAO         FAN 6
5481  23168           RUNG RA 1      vessel       RUNG          RA 1
5474  23161          KUM SONG 5      vessel        KUM        SONG 5

In [25]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [26]:
# run loop to generate the test cases

for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        #if number_of_words==1:
         #   final_test_name=typos(name_words[0],1)
          #  final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        if number_of_words==2 :
            final_test_name=typos(name_words[0],1)+' '+name_words[1]
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        if number_of_words==3 :
            final_test_name=typos(name_words[0],1)+' '+name_words[1]+' '+name_words[2]
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        else:
            name_words=row['name'].split()
            final_test_name_0=''
            for i in range(2,len(name_words)):
                final_test_name_0=final_test_name_0+' '+name_words[i]
            final_test_name=typos(name_words[0],1)+' '+name_words[1]+' '+final_test_name_0# create the test case
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

            

final_test_cases      

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 5813,23780,DONG FENG 6,DNBG FENG 6
1,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 5495,23186,RYE SONG GANG 1,YVE SONG GANG 1
2,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 6220,25283,IRAN HORMUZ 12,FWAN HORMUZ 12
3,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 6259,25335,IRAN HORMUZ 22,IEON HORMUZ 22
4,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 5493,23184,KANG SONG 1,KLSG SONG 1
5,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 5811,23778,ASIA BRIDGE 1,NJIA BRIDGE 1
6,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 5619,23427,MARIE DE LOURDES V,MAGDE DE LOURDES V
7,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 5806,23771,HAO FAN 6,HWJ FAN 6
8,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 5481,23168,RUNG RA 1,RLZG RA 1
9,UID-588,Names where Name Parts are Modified,Typos,2 Typos same name part - Adjacent,Vessel,UID-588 - 5474,23161,KUM SONG 5,KSV SONG 5