In [9]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-563' 
theme = 'Names where Name Parts are Modified'
category = 'Phonetic'
sub_category = '1 phonetic variation'
entity_type = 'Vessel'

# ********************

In [7]:
import random

def similar_letter(letter):
    similar_phonetic_dict = {
        'A' : ['E','U'],
        'B' : ['P','V'],
        'C' : ['S','Z'],
        'D' : 'T',
        'E' : 'A',
        'F' : 'V',
        'G' : 'K',
        'H' : ['F','J','X'],
        'I' : 'Y',
        'J' : ['G','H'],
        'K' : ['G','X'],
        'L' : 'R',
        'M' : 'N',
        'N' : 'M',
        'O' : ['U','A','E'],
        'P' : ['F','B','V'],
        'Q' : 'K',
        'R' : 'L',
        'S' : ['X','C'],
        'T' : 'D',
        'U' : ['O','W'],
        'V' : 'F',
        'W' : ['V', 'Y'],
        'X' : 'S',
        'Y' : 'I',
        'Z' : 'C'
    }
    new_letter = similar_phonetic_dict[letter][random.randrange(0,len(similar_phonetic_dict[letter]))]
    return new_letter

In [28]:
def phonetic(phrase,k):
    for num in random.sample(range(0, len(phrase)),k):
        phrase = phrase[:num] + similar_letter(phrase[num]) + phrase[num + 1:]
    return phrase

In [10]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [37]:


ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate vessel


ofac_list_sampled = ofac_list_filtered.sample(n = 10)

ofac_list_sampled

         uid            name entity_type
6202   25263           PARIN      vessel
6301   25378          DEVREZ      vessel
6269   25346        ARTAVAND      vessel
10303  37085          LADY D      vessel
2776   15063  IMICO NEKA 456      vessel
6268   25345         ARDAVAN      vessel
2767   15054            HUGE      vessel
7459   28105       GENAVA 12      vessel
6272   25349          BAHJAT      vessel
2781   15070         MARIVAN      vessel

In [38]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [39]:
for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        if number_of_words==1:
            final_test_name=phonetic(name_words[0],1)
        else:
            test=''
            for i in range(1,number_of_words):
                test=test+name_words[i]+' '
            
            final_test_name=phonetic(name_words[0],1)+' '+test
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 6202,25263,PARIN,FARIN
1,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 6301,25378,DEVREZ,DEVREC
2,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 6269,25346,ARTAVAND,ARTAVEND
3,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 10303,37085,LADY D,LATY D
4,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 2776,15063,IMICO NEKA 456,IMICU NEKA 456
5,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 6268,25345,ARDAVAN,ARTAVAN
6,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 2767,15054,HUGE,XUGE
7,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 7459,28105,GENAVA 12,KENAVA 12
8,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 6272,25349,BAHJAT,PAHJAT
9,UID-563,Names where Name Parts are Modified,Phonetic,1 phonetic variation,Vessel,UID-563 - 2781,15070,MARIVAN,MALIVAN