In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-605' 
theme = 'Special Characters and Spaces'
category = 'Compression'
sub_category = '>2 name parts compressed'
entity_type = 'Vessel'

# ********************

In [2]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [4]:



ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate vessel


ofac_list_filtered = ofac_list_filtered[(ofac_list_filtered.name.str.count(' ') > 2)] # only evaluate names with more than 2 words
ofac_list_sampled = ofac_list_filtered.sample(n = 10)

ofac_list_sampled

        uid                        name entity_type
3725  17087             HWANG GUM SAN 2      vessel
5476  23163                KUM UN SAN 3      vessel
5617  23426          MARIE DE LOURDES I      vessel
5618  23427          MARIE DE LOURDES V      vessel
5782  23728             HAP JANG GANG 6      vessel
7410  28013  LUISA CACERES DE ARISMENDI      vessel
3727  17089   JANG JA SAN CHONG NYON HO      vessel
5671  23525                UL JI BONG 6      vessel
3731  17093          O UN CHONG NYON HO      vessel
5495  23186             RYE SONG GANG 1      vessel

In [7]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [8]:
for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        final_test_name_test=''
        for i in range(1,number_of_words):
            final_test_name_test=final_test_name_test+name_words[i]
        final_test_name=name_words[0]+' '+final_test_name_test
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 3725,17087,HWANG GUM SAN 2,HWANG GUMSAN2
1,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 5476,23163,KUM UN SAN 3,KUM UNSAN3
2,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 5617,23426,MARIE DE LOURDES I,MARIE DELOURDESI
3,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 5618,23427,MARIE DE LOURDES V,MARIE DELOURDESV
4,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 5782,23728,HAP JANG GANG 6,HAP JANGGANG6
5,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 7410,28013,LUISA CACERES DE ARISMENDI,LUISA CACERESDEARISMENDI
6,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 3727,17089,JANG JA SAN CHONG NYON HO,JANG JASANCHONGNYONHO
7,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 5671,23525,UL JI BONG 6,UL JIBONG6
8,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 3731,17093,O UN CHONG NYON HO,O UNCHONGNYONHO
9,UID-605,Special Characters and Spaces,Compression,>2 name parts compressed,Vessel,UID-605 - 5495,23186,RYE SONG GANG 1,RYE SONGGANG1