In [8]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-564' 
theme = 'Names where Name Parts are Modified'
category = 'Phonetic'
sub_category = '2 phonetic variations - different name part'
entity_type = 'Vessel'

# ********************

In [2]:
import random

def similar_letter(letter):
    similar_phonetic_dict = {
        'A' : ['E','U'],
        'B' : ['P','V'],
        'C' : ['S','Z'],
        'D' : 'T',
        'E' : 'A',
        'F' : 'V',
        'G' : 'K',
        'H' : ['F','J','X'],
        'I' : 'Y',
        'J' : ['G','H'],
        'K' : ['G','X'],
        'L' : 'R',
        'M' : 'N',
        'N' : 'M',
        'O' : ['U','A','E'],
        'P' : ['F','B','V'],
        'Q' : 'K',
        'R' : 'L',
        'S' : ['X','C'],
        'T' : 'D',
        'U' : ['O','W'],
        'V' : 'F',
        'W' : ['V', 'Y'],
        'X' : 'S',
        'Y' : 'I',
        'Z' : 'C'
    }
    new_letter = similar_phonetic_dict[letter][random.randrange(0,len(similar_phonetic_dict[letter]))]
    return new_letter

In [3]:
def phonetic(phrase,k):
    for num in random.sample(range(0, len(phrase)),k):
        phrase = phrase[:num] + similar_letter(phrase[num]) + phrase[num + 1:]
    return phrase

In [4]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [5]:


ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate vessel

ofac_list_filtered = ofac_list_filtered[(ofac_list_filtered.name.str.count(' ') > 1)]

ofac_list_sampled = ofac_list_filtered.sample(n = 10)

ofac_list_sampled

        uid                name entity_type
4404  19582        SOUTH HILL 2      vessel
5482  23169           RUNG RA 2      vessel
5494  23185       KU BONG RYONG      vessel
3734  17096         PI RUY GANG      vessel
2776  15063      IMICO NEKA 456      vessel
5808  23776       XIN GUANG HAI      vessel
4411  19589         CHONG RIM 2      vessel
3722  17084         AM NOK GANG      vessel
3740  17102           RAK WON 2      vessel
5617  23426  MARIE DE LOURDES I      vessel

In [9]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [10]:
for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        if number_of_words==3:
            final_test_name=phonetic(name_words[0],1)+' '+phonetic(name_words[1],1)+' '+name_words[2]
        else:
            test=''
            for i in range(3,number_of_words):
                test=test+name_words[i]+' '
            
            final_test_name=phonetic(name_words[0],1)+' '+phonetic(name_words[1],1)+' '+test
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 4404,19582,SOUTH HILL 2,SOOTH HIRL 2
1,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 5482,23169,RUNG RA 2,RUNK LA 2
2,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 5494,23185,KU BONG RYONG,XU PONG RYONG
3,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 3734,17096,PI RUY GANG,PY LUY GANG
4,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 2776,15063,IMICO NEKA 456,YMICO MEKA 456
5,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 5808,23776,XIN GUANG HAI,XYN GUAMG HAI
6,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 4411,19589,CHONG RIM 2,CHANG RYM 2
7,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 3722,17084,AM NOK GANG,AN NOG GANG
8,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 3740,17102,RAK WON 2,LAK VON 2
9,UID-564,Names where Name Parts are Modified,Phonetic,2 phonetic variations - different name part,Vessel,UID-564 - 5617,23426,MARIE DE LOURDES I,MERIE DA I