In [6]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-602' 
theme = 'Special Characters and Spaces'
category = 'Additional Noise'
sub_category = 'Additional Noise in between'
entity_type = 'Vessel'

# ********************

In [4]:
noise=['BANK', 'MONEY', 'TRADING', 'PRODUCTION', 'TECHNOLOGY', 'BOAT', 'SHIP', 'IMO']

In [12]:
import random

In [5]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [9]:

ofac_split = ofac_list["name"].str.split(" ", n = 1, expand = True)

# making separate first name column from new data frame
ofac_list["First Name"]= ofac_split[0]
 
# making separate middle name column from new data frame
ofac_list["Last Name"]= ofac_split[1]


ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')& (ofac_list['First Name'].str.len()>4) & (ofac_list['Last Name'].str.len()>4)] # only evaluate vessel


ofac_list_filtered = ofac_list_filtered[(ofac_list_filtered.name.str.count(' ') == 1)] # only evaluate names with more than 2 words
ofac_list_sampled = ofac_list_filtered.sample(n = 10)

ofac_list_sampled

<ipython-input-9-180d818067c6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list["First Name"]= ofac_split[0]
<ipython-input-9-180d818067c6>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list["Last Name"]= ofac_split[1]

         uid                  name entity_type First Name    Last Name
10290  37071          GASRET ALIEV      vessel     GASRET        ALIEV
4063   18340           GREEN LIGHT      vessel      GREEN        LIGHT
10296  37077        VIKTOR ZABELIN      vessel     VIKTOR      ZABELIN
10303  37086         TERSKIY BEREG      vessel    TERSKIY        BEREG
10264  37045  MEKHANIK KRASKOVSKIY      vessel   MEKHANIK  KRASKOVSKIY
9203   34944         FESCO MAGADAN      vessel      FESCO      MAGADAN
5802   23766     ORIENTAL TREASURE      vessel   ORIENTAL     TREASURE
9199   34940         BALTIC LEADER      vessel     BALTIC       LEADER
10265  37046      MEKHANIK MAKARIN      vessel   MEKHANIK      MAKARIN
6978   26658     DESPINA ANDRIANNA      vessel    DESPINA    ANDRIANNA

In [10]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [13]:
for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        final_test_name=name_words[0]+' '+random.choice(noise)+' '+name_words[1]
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 10290,37071,GASRET ALIEV,GASRET TECHNOLOGY ALIEV
1,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 4063,18340,GREEN LIGHT,GREEN PRODUCTION LIGHT
2,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 10296,37077,VIKTOR ZABELIN,VIKTOR BOAT ZABELIN
3,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 10303,37086,TERSKIY BEREG,TERSKIY BANK BEREG
4,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 10264,37045,MEKHANIK KRASKOVSKIY,MEKHANIK TECHNOLOGY KRASKOVSKIY
5,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 9203,34944,FESCO MAGADAN,FESCO TRADING MAGADAN
6,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 5802,23766,ORIENTAL TREASURE,ORIENTAL TECHNOLOGY TREASURE
7,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 9199,34940,BALTIC LEADER,BALTIC BANK LEADER
8,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 10265,37046,MEKHANIK MAKARIN,MEKHANIK BOAT MAKARIN
9,UID-602,Special Characters and Spaces,Additional Noise,Additional Noise in between,Vessel,UID-602 - 6978,26658,DESPINA ANDRIANNA,DESPINA TECHNOLOGY ANDRIANNA