In [8]:
import random
import string
def typos(phrase):
    alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M',
                'N','O','P','Q','R','S','T','U','V','W','X','Y','Z']        
    a=random.choice(string.ascii_uppercase)
    b=random.choice(string.ascii_uppercase)
    if phrase[0]== a or phrase[1] == b :
        a1 = alphabet.index(a)
        alphabet.pop(a1)
        a11=random.choice(alphabet)  
        b1 = alphabet.index(b)
        alphabet.pop(b1)
        b11=random.choice(alphabet)
        phrase = a11 + b11 + phrase[2:]
    else:
        phrase = a + b  +phrase[2:]

    return phrase

In [3]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [5]:
ofac_split = ofac_list["name"].str.split(" ", n = 1, expand = True)


# making separate first name column from new data frame
ofac_list["First Name"]= ofac_split[0]
 
# making separate middle name column from new data frame
ofac_list["Middle Name"]= ofac_split[1]




ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')& (ofac_list['First Name'].str.len()>2)] # only evaluate vessel


ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

<ipython-input-5-2d9f6a5c1a28>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list["First Name"]= ofac_split[0]
<ipython-input-5-2d9f6a5c1a28>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ofac_list["Middle Name"]= ofac_split[1]

         uid                     name entity_type  First Name   Middle Name
6962   26640             PDVSA CARDON      vessel       PDVSA        CARDON
3743   17105            TAE DONG GANG      vessel         TAE     DONG GANG
8501   31930  BALTIYSKIY ISSLEDOVATEL      vessel  BALTIYSKIY  ISSLEDOVATEL
4059   18336                     TALA      vessel        TALA          None
10246  37032                CHIZHOVKA      vessel   CHIZHOVKA          None
6240   25303                 BEHNAVAZ      vessel    BEHNAVAZ          None
5481   23168                RUNG RA 1      vessel        RUNG          RA 1
5817   23788                 YUK TUNG      vessel         YUK          TUNG
10273  37060                  ASCALON      vessel     ASCALON          None
6967   26645                  MANAURE      vessel     MANAURE          None

In [13]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [14]:
# run loop to generate the test cases

for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        if number_of_words==1:
            final_test_name=typos(name_words[0])
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        if number_of_words==2 :
            final_test_name=typos(name_words[0])+' '+name_words[1]
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        if number_of_words==3 :
            final_test_name=typos(name_words[0])+' '+name_words[1]+' '+name_words[2]
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        #else:
         #   name_words=row['name'].split()
          #  final_test_name_0=''
           # for i in range(2,len(name_words)):
            #    final_test_name_0=final_test_name_0+' '+name_words[i]
           # final_test_name=typos(name_words[0])+' '+name_words[1]+' '+final_test_name_0# create the test case
           # final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

            

final_test_cases      

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 6962,26640,PDVSA CARDON,ZGVSA CARDON
1,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 3743,17105,TAE DONG GANG,RME DONG GANG
2,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 8501,31930,BALTIYSKIY ISSLEDOVATEL,ZFLTIYSKIY ISSLEDOVATEL
3,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 4059,18336,TALA,AILA
4,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 10246,37032,CHIZHOVKA,PZIZHOVKA
5,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 6240,25303,BEHNAVAZ,RMHNAVAZ
6,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 5481,23168,RUNG RA 1,CBNG RA 1
7,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 5817,23788,YUK TUNG,IIK TUNG
8,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 10273,37060,ASCALON,MACALON
9,UID-592,Names where Name Parts are Modified,Typos,"2 Typos same name part - Adjacent, at beginning",Vessel,UID-592 - 6967,26645,MANAURE,HPNAURE