In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-596' 
theme = 'Positive Control'
category = 'Exact Match'
sub_category = '100% true match'
entity_type = 'Vessel'

# ********************

In [2]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [3]:

ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate vessel



ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid          name entity_type
5787   23733    SAM JONG 1      vessel
3722   17084   AM NOK GANG      vessel
7866   29486  MAKSIM GORKY      vessel
6306   25383        NOOR 1      vessel
2781   15070       MARIVAN      vessel
7460   28106     GENAVA 11      vessel
6267   25344         ANDIA      vessel
3733   17095      PHO THAE      vessel
10297  37088         TIKSY      vessel
8501   31931          UMKA      vessel

In [4]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [5]:
# run loop to generate the test cases

for index, row in ofac_list_sampled.iterrows():
    final_test_name=row['name']
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe


final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 5787,23733,SAM JONG 1,SAM JONG 1
1,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 3722,17084,AM NOK GANG,AM NOK GANG
2,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 7866,29486,MAKSIM GORKY,MAKSIM GORKY
3,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 6306,25383,NOOR 1,NOOR 1
4,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 2781,15070,MARIVAN,MARIVAN
5,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 7460,28106,GENAVA 11,GENAVA 11
6,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 6267,25344,ANDIA,ANDIA
7,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 3733,17095,PHO THAE,PHO THAE
8,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 10297,37088,TIKSY,TIKSY
9,UID-596,Positive Control,Exact Match,100% true match,Vessel,UID-596 - 8501,31931,UMKA,UMKA