In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-571' 
theme = 'Names where Name Parts are Modified'
category = 'Transpositions'
sub_category = '1 transposition - 2 letters at the beginning'
entity_type = 'Vessel'

# ********************

In [11]:
def transport_beginning(phrase):
    phrase = phrase[1] +phrase[0]+phrase[:]
    return phrase

In [7]:
import pandas as pd
from test_case_generator_functions import alphabet

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [8]:
ofac_list_filtered= ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate vessel
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid           name entity_type
5480   23167    YANG GAK DO      vessel
4062   18339        BLUEGAS      vessel
10688  37933       BS BRAVO      vessel
5996   24513     SEVASTOPOL      vessel
9204   34944  FESCO MAGADAN      vessel
4397   19575        JIN TAI      vessel
6278   25354         HAMGAM      vessel
2752   15039         ARNICA      vessel
4414   19592         MI RIM      vessel
2753   15040          APAMA      vessel

In [13]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [14]:
# run loop to generate the test cases

for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        if number_of_words==1:
            final_test_name=transport_beginning(name_words[0])
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        if number_of_words==2 :
            final_test_name=transport_beginning(name_words[0])+' '+name_words[1]
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        elif number_of_words==3 :
            final_test_name=transport_beginning(name_words[0])+' '+name_words[1]+' '+name_words[2]
            final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
        #else:
        #    name_words=row['name'].split()
         #   final_test_name_0=''
          #  for i in range(2,len(name_words)):
           #     final_test_name_0=final_test_name_0+' '+name_words[i]
           # final_test_name=name_words[0]+' '+repetition_random_character_twice(name_words[1],1)+' '+final_test_name_0# create the test case
           # final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe

            

final_test_cases      

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 5480,23167,YANG GAK DO,AYNG GAK DO
1,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 4062,18339,BLUEGAS,LBUEGAS
2,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 10688,37933,BS BRAVO,SB BRAVO
3,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 5996,24513,SEVASTOPOL,ESVASTOPOL
4,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 9204,34944,FESCO MAGADAN,EFSCO MAGADAN
5,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 4397,19575,JIN TAI,IJN TAI
6,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 6278,25354,HAMGAM,AHMGAM
7,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 2752,15039,ARNICA,RANICA
8,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 4414,19592,MI RIM,IM RIM
9,UID-571,Names where Name Parts are Modified,Transpositions,1 transposition - 2 letters at the beginning,Vessel,UID-571 - 2753,15040,APAMA,PAAMA