In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-635' 
theme = 'Name Part Variations'
category = 'Number Replacement'
sub_category = '1 string replaced by number '
entity_type = 'Vessel'

# ********************

In [3]:
import random

In [2]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [11]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate vessel
ofac_list_filtered = ofac_list_filtered[(ofac_list_filtered.name.str.count(' ') > 1)]


ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

,uid,name,entity_type,First Name,Last Name,Middle Name
5474,23161,KUM SONG 5,vessel,KUM,5,SONG
5479,23166,RUNG RA DO,vessel,RUNG,DO,RA
5496,23187,SO BAEK SAN,vessel,SO,SAN,BAEK
3734,17096,PI RUY GANG,vessel,PI,GANG,RUY
5808,23776,XIN GUANG HAI,vessel,XIN,HAI,GUANG
5812,23780,DONG FENG 6,vessel,DONG,6,FENG
5495,23186,RYE SONG GANG 1,vessel,NaN,NaN,NaN
5788,23734,SAM JONG 2,vessel,SAM,2,JONG
2805,15094,YANGZHOU DAYANG DY905,vessel,YANGZHOU,DY905,DAYANG
3724,17086,DAI HONG DAN,vessel,DAI,DAN,HONG

In [12]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [15]:
for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        if number_of_words==3:
            final_test_name=name_words[0]+' '+str(random.randint(0,9))+' '+name_words[2]
        else:
            test=''
            for i in range(2,number_of_words):
                test=test+name_words[i]+' '
            
            final_test_name=name_words[0]+' '+str(random.randint(0,9))+' '+test
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 5474,23161,KUM SONG 5,KUM 6 5
1,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 5479,23166,RUNG RA DO,RUNG 9 DO
2,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 5496,23187,SO BAEK SAN,SO 7 SAN
3,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 3734,17096,PI RUY GANG,PI 4 GANG
4,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 5808,23776,XIN GUANG HAI,XIN 4 HAI
5,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 5812,23780,DONG FENG 6,DONG 7 6
6,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 5495,23186,RYE SONG GANG 1,RYE 9 GANG 1
7,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 5788,23734,SAM JONG 2,SAM 1 2
8,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 2805,15094,YANGZHOU DAYANG DY905,YANGZHOU 4 DY905
9,UID-635,Name Part Variations,Number Replacement,1 string replaced by number,Vessel,UID-635 - 3724,17086,DAI HONG DAN,DAI 3 DAN