In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-607' 
theme = 'Special Characters and Spaces'
category = 'Compression'
sub_category = '2 name parts compressed'
entity_type = 'Vessel'

# ********************

In [2]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [36]:



ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate vessel


ofac_list_filtered = ofac_list_filtered[(ofac_list_filtered.name.str.count(' ')  >= 2) & (ofac_list_filtered.name.str.count(' ')  <= 3)] # only evaluate names with more than 2 words
ofac_list_sampled = ofac_list_filtered.sample(n = 10)

ofac_list_sampled

        uid                name entity_type
4419  19597      THAE PYONG SAN      vessel
5780  23726        CHON MYONG 1      vessel
7105  26933      SHANG YUAN BAO      vessel
5470  23157          YU SONG 12      vessel
5478  23165           PU HUNG 1      vessel
2777  15064      IMICO NEKA 457      vessel
5473  23160          KUM SONG 3      vessel
5618  23427  MARIE DE LOURDES V      vessel
5781  23727           NAM SAN 8      vessel
3720  17069     CHONG CHON GANG      vessel

In [37]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [38]:
for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        final_test_name_test=''
 
        if number_of_words==3:
            final_test_name=name_words[0]+' '+name_words[1]+name_words[2]
        else:
            final_test_name=name_words[0]+' '+name_words[1]+name_words[2]+' '+name_words[3]
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 4419,19597,THAE PYONG SAN,THAE PYONGSAN
1,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 5780,23726,CHON MYONG 1,CHON MYONG1
2,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 7105,26933,SHANG YUAN BAO,SHANG YUANBAO
3,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 5470,23157,YU SONG 12,YU SONG12
4,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 5478,23165,PU HUNG 1,PU HUNG1
5,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 2777,15064,IMICO NEKA 457,IMICO NEKA457
6,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 5473,23160,KUM SONG 3,KUM SONG3
7,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 5618,23427,MARIE DE LOURDES V,MARIE DELOURDES V
8,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 5781,23727,NAM SAN 8,NAM SAN8
9,UID-607,Special Characters and Spaces,Compression,2 name parts compressed,Vessel,UID-607 - 3720,17069,CHONG CHON GANG,CHONG CHONGANG