In [1]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-631' 
theme = 'Positive Control'
category = 'Exact Match'
sub_category = '100% true match (Weak Alias)'
entity_type = 'Entity'

# ********************

In [15]:
def weak_alias(phrase):
    phrase=phrase[0]
    return phrase

In [2]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [9]:
ofac_list

         uid                                        name entity_type
0         36                      AEROCARIBBEAN AIRLINES        -0-
1        173                   ANGLO-CARIBBEAN CO., LTD.        -0-
2        306                      BANCO NACIONAL DE CUBA        -0-
3        424                          BOUTIQUE LA MAISON        -0-
4        475                                CASA DE CUBA        -0-
...      ...                                         ...         ...
10917  39520                         ADEN, Mohamoud Abdi  individual
10918  39536                     OREKHOV, Yury Yuryevich  individual
10919  39537  NDA NORD-DEUTSCHE INDUSTRIEANLAGENBAU GMBH        -0-
10920  39538                     OPUS ENERGY TRADING LLC        -0-
10921                                               NaN         NaN

[10922 rows x 3 columns]

In [13]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate Individual
ofac_list_filtered

ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid                                               name entity_type
5245   22325                        KOREA ZINC INDUSTRIAL GROUP        -0-
970     8744                TRANS PACIFIC WORLD LEASING LIMITED        -0-
2685   13374                                           SYRONICS        -0-
8160   30405       PISHRO IRAN FINANCIAL AND INVESTMENT COMPANY        -0-
2323   12458                AFRI BELG COMMERCIO E INDUSTRIA LDA        -0-
2369   12552  MULTIMAT IC VE DIS TICARET PAZARLAMA LIMITED S...        -0-
2239   12190                  GRUPO CRISTAL CORONA S.A. DE C.V.        -0-
8990   34103                    FANAVARAN PETROCHEMICAL COMPANY        -0-
217     6936                         JAM'YAH TA'AWUN AL-ISLAMIA        -0-
10724  38178  JOINT STOCK COMPANY VORONEZHSKY FACTORY POLUPR...        -0-

In [14]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [17]:
for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        final_test_name=''
        for i in range(number_of_words):
            final_test_name=final_test_name+weak_alias(name_words[i])+' '

        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 5245,22325,KOREA ZINC INDUSTRIAL GROUP,K Z I G
1,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 970,8744,TRANS PACIFIC WORLD LEASING LIMITED,T P W L L
2,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 2685,13374,SYRONICS,S
3,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 8160,30405,PISHRO IRAN FINANCIAL AND INVESTMENT COMPANY,P I F A I C
4,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 2323,12458,AFRI BELG COMMERCIO E INDUSTRIA LDA,A B C E I L
5,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 2369,12552,MULTIMAT IC VE DIS TICARET PAZARLAMA LIMITED S...,M I V D T P L S
6,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 2239,12190,GRUPO CRISTAL CORONA S.A. DE C.V.,G C C S D C
7,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 8990,34103,FANAVARAN PETROCHEMICAL COMPANY,F P C
8,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 217,6936,JAM'YAH TA'AWUN AL-ISLAMIA,J T A
9,UID-631,Positive Control,Exact Match,100% true match (Weak Alias),Entity,UID-631 - 10724,38178,JOINT STOCK COMPANY VORONEZHSKY FACTORY POLUPR...,J S C V F P P