In [2]:
# -----------------------------------
# TEST CASE TYPE REFERENCE INFORMATION
# -----------------------------------

uid = 'UID-606' 
theme = 'Special Characters and Spaces'
category = 'Compression'
sub_category = 'All name parts compressed'
entity_type = 'Vessel'

# ********************

In [3]:
import pandas as pd

# download the OFAC list from the web

ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']

In [6]:



ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'vessel')] # only evaluate vessel


ofac_list_filtered = ofac_list_filtered[(ofac_list_filtered.name.str.count(' ') > 1)] # only evaluate names with more than 2 words
ofac_list_sampled = ofac_list_filtered.sample(n = 10)

ofac_list_sampled

        uid             name entity_type
3725  17087  HWANG GUM SAN 2      vessel
4420  19598      TONG HUNG 1      vessel
5671  23525     UL JI BONG 6      vessel
5468  23155        ZA RYOK 2      vessel
6217  25281   IRAN HORMUZ 25      vessel
5495  23186  RYE SONG GANG 1      vessel
5789  23735         SAM MA 2      vessel
5463  23150        WON SAN 2      vessel
3730  17092       MU DU BONG      vessel
5474  23161       KUM SONG 5      vessel

In [5]:
# create blank final test cases table

final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [7]:
for index, row in ofac_list_sampled.iterrows():
        number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
        name_words=row['name'].split()
        final_test_name_test=''
        for i in range(0,number_of_words):
            final_test_name_test=final_test_name_test+name_words[i]
        final_test_name=final_test_name_test
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 3725,17087,HWANG GUM SAN 2,HWANGGUMSAN2
1,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 4420,19598,TONG HUNG 1,TONGHUNG1
2,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 5671,23525,UL JI BONG 6,ULJIBONG6
3,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 5468,23155,ZA RYOK 2,ZARYOK2
4,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 6217,25281,IRAN HORMUZ 25,IRANHORMUZ25
5,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 5495,23186,RYE SONG GANG 1,RYESONGGANG1
6,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 5789,23735,SAM MA 2,SAMMA2
7,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 5463,23150,WON SAN 2,WONSAN2
8,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 3730,17092,MU DU BONG,MUDUBONG
9,UID-606,Special Characters and Spaces,Compression,All name parts compressed,Vessel,UID-606 - 5474,23161,KUM SONG 5,KUMSONG5